## Predefine Modules  / Libraries /Packages

- Built in 
- User defined

In [1]:
import math
# a module can have classes, fucntions etc

In [2]:
math.ceil(2.7)
 # it will return the very next integer after 2.7

3

In [3]:
math.floor(2.7)
# it will return the very last integer before 2.7

2

In [4]:
math.exp(2)    
# shift +tab for function information

7.38905609893065

In [5]:
math.fmod(2,3)
# modulus (%)

2.0

In [6]:
from math import exp

In [7]:
exp(2)

7.38905609893065

In [8]:
import mymodule

In [9]:
mymodule.square_of_a_number(12)

The sqaure of 12 is 144 which is a local variable

In [10]:
myalbum=mymodule.make_album("nasir","naat",3)

In [11]:
myalbum

{'artist name : ': 'nasir', 'album title : ': 'naat', 'number of tracks': 3}

In [12]:
from mymodule import make_album

In [13]:
make_album("raza","lala",14)

{'artist name : ': 'raza', 'album title : ': 'lala', 'number of tracks': 14}

In [14]:
import mymodule as mm

In [15]:
mm.meter_to_km(22)

0.022

In [16]:
mm.square_of_a_number(22)

The sqaure of 22 is 484 which is a local variable

In [17]:
# %load mymodule.py
def make_album(artist_name,albumtitle,number_of_tracks=""):
    """ This function takes two mandatory argument
    artist_name,
    albumtitle,
    number_of_tracks
    
    it will return the dictionary  whose keys will be
    artist name
    album title
    
    whose value will be arguments provided by the user during function call.
    
    
    
    """
    album_dic={"artist name : ":artist_name,"album title : ":albumtitle}
    if number_of_tracks:
        album_dic["number of tracks"]=number_of_tracks
   
    return album_dic    





def square_of_a_number(num):
    
    square = num**2   # local variable
    print(f"The sqaure of {num} is {square} which is a local variable")
    
    
def meter_to_km(distance_in_meters):
    distance_in_km= distance_in_meters/1000
    return distance_in_km

# Exceptions

"Exceptions are discussed in private"

valid syntax: an integer can divide another intger
12/12, 3/ 5/6

but 0 which is also an integer can not divide any integer

In [18]:
12/0

ZeroDivisionError: division by zero

In [19]:
a = int(input("Tell me a number"))
print(a)

Tell me a numberraza

ValueError: invalid literal for int() with base 10: 'raza'

In [21]:
num1 = int(input("Enter a number to be divided"))
num2 = int(input("Enter a number to divide num1"))
res = None
try:
    res = num1/num2
    print(res)

except ZeroDivisionError:
    print("You can not divide an integer by 0")

Enter a number to be divided1
Enter a number to divide num10
You can not divide an integer by 0

In [22]:
try:
    num1 = int(input("Enter a number to be divided : "))
    num2 = int(input("Enter a number to divide num1 :"))
    res = num1/num2
    print(res)
    
except ZeroDivisionError:
    print("You can not divide an integer by 0")
except ValueError:
    print("Insan ka bacha ban ja warna ghar akar marunga")

Enter a number to be divided : raza
Insan ka bacha ban ja warna ghar akar marunga

In [23]:
try:
    num1 = int(input("Enter a number to be divided"))
    num2 = int(input("Enter a number to divide num1"))
    res = num1/num2
    print(res)
    
except Exception as e:
    print("Acception was generated and caught successfully\n" + str(e))

Enter a number to be dividede
Acception was generated and caught successfully
invalid literal for int() with base 10: 'e'

In [24]:
try:
    num1 = int(input("Enter a number to be divided"))
    num2 = int(input("Enter a number to divide num1"))
    res = num1/num2
    print(res)
    
except Exception as e:
    print("Acception was generated and caught successfully\n" + str(e))

Enter a number to be dividede
Acception was generated and caught successfully
invalid literal for int() with base 10: 'e'

In [26]:
# try except raise else finally

In [30]:
%run Python17(4Feb).py

Area of triangle is 75.0 meters
It is a small triangle
The triangle is not a right triangle

In [31]:
# %load Python17(4Feb).py
# import trigonometry as tri
# tri_area,unit  = tri.area_of_triangle(10,15)

# print(f"Area of triangle is {tri_area}")

# if tri_area > 100:
#     print("Its is a big triangle")
# else:
#     print("It is a small triangle")

# print(tri.check_right_triangle(10,12, 15))
import trigonometry as tri
tri_area, unit = tri.area_of_triangle(10, 15)
print(f"Area of triangle is {tri_area}")
if tri_area > 100:
    print("Its is a big triangle")
else:
    print("It is a small triangle")

Area of triangle is 75.0
It is a small triangle