# Functions

### Functions is like block of code through this we can do same thing many  time without typing code again and again

In [1]:
a=1
b=3
c=a+b
print(c)

4

In [2]:
#now we do with function
def sum():
    a=1
    b=3
    c=a+b
    print(c)
sum()  
sum()

4
4

In [3]:
def sum(a,b):  #parameters
     
    c=a+b
    print(c)
sum(22,33)  #positon arguments
sum(2,3)

55
5

In [4]:
a=float(input("Enter the first number: " ))
b=float(input("\n"+"Enter the second number :"))

def cal(a,b):
    c=a+b
    print("\n","Sum of a + b  is : ",c,"\n")
    d=a-b
    print("Substract of a - b  is : ",d,"\n")
    e=a*b
    print("Multiplication  of a * b  is : ",e,"\n")
    f=a/b
    print("Division of a / b  is : ",f,"\n")
    g=a%b
    print("Modulus of a % b  is : ",g,"\n")
cal(a,b)

Enter the first number: 10

Enter the second number :5

 Sum of a + b  is :  15.0

Substract of a - b  is :  5.0

Multiplication  of a * b  is :  50.0

Division of a / b  is :  2.0

Modulus of a % b  is :  0.0

In [5]:
def addition(a,b):
    sum=a+b
    print(sum)
addition(a=5,b=34)

39

In [6]:
firstnum = 2  
secondnum =3 
#agr data phela sa diya ho to ap parameters change bhi krsakta hai
def addnum(num1,num2):  #parameters
    result =num1+num2
    print(result)
addnum(firstnum,secondnum)

5

In [7]:
firstnum = 2  
secondnum =3 
#agr data phela sa diya ho to ap parameters change bhi krsakta hai
def addnum(eight,ten):    #parameters
    result = eight +ten
    print(result)
addnum(firstnum,secondnum)

5

In [8]:
firstnum =8 
secondnum =4
def addnum(secondnum,firstnum):
    result =firstnum-secondnum  #firstnum=4 ,secondnum=8
    print(result)
addnum(firstnum,secondnum)

-4

In [9]:
firstnum =8 
secondnum =4
def addnum(eight,four):
    result =eight-four
    print(result)
addnum(firstnum,secondnum)

4

In [10]:
firstnum =8 
def addnum(eight,four=4):
    result =eight-four
    print(result)
addnum(firstnum)

4

In [11]:
 
def add(num1,num2):
    total=num1+num2
    print(total)
    
add(num1=2,num2=3)

5

In [12]:
#  jb data or parameters same na ho to parameters and arguments same rakha ga
def add(num1,num2):
    total=a+b
    print(total)
    
add(num1=2,num2=3)

15.0

In [13]:
firstnum =8 
def addnum(eight,four=4):
    result =eight-four
    print(result)
addnum(firstnum)

4

In [14]:
 
def addnum(firstnum,four=4):
    result = firstnum -four
    print(result)
addnum(firstnum=8)

4

In [15]:
firstnum=8
def addnum(ten , four=4):
    result = ten + four
    print(result)
addnum(firstnum)

12

In [16]:
#we also pass more than one parameters
def sum(a,b,c,d):   
    e=a+b+c+d
    print(e)
sum(22,33,4,2)

61

In [17]:
name=input("Enter your name : ")
def greeting(name):
    print("Hello",name)
greeting(name.upper())

Enter your name : asad
Hello ASAD

In [18]:
name=input("Enter your name : ")
def greeting(name):
    greet="Good Morning"
    print( greet,name)
greeting(name.capitalize())

Enter your name : raza
Good Morning Raza

In [19]:
name=input("Enter your name : ")
greet="Good Morning"
def greeting(greet,name):
    
    print( greet,name)
greeting(greet,name.title())

Enter your name : ali
Good Morning Ali

In [20]:
name=input("Enter your name : ")
greet="Good Morning"
def greeting(greet,name):
    gree=greet +" "+name      
    print(gree.lower())
greeting(greet,name)

Enter your name : FAHAD
good morning fahad

In [21]:
greeting = "Hello Pakistan \n"
entering = "welcome \n"
season = "summer\n"
temperature = "hot\n" 
def user(a,b,c,d):#parameter
    print(a,b,c,d)
   
user(greeting,entering,season,temperature)#Arguments

Hello Pakistan
 welcome
 summer
 hot

In [22]:
a=6
b=4
c=4
d=6
def addition(a,b,c,d):
    sum=a+b+c+d
    print(sum)
addition(a,b,c,d)
20

20

20

In [23]:
a=6
b=4
c=4
d=6
def addition(r,g,f,t):
    sum=r+g+f+t
    print(sum)
addition(a,b,c,d)

20

In [24]:
greeting = "Hello Pakistan \n"
entering = "welcome \n"
season = "summer\n"
temperature = "hot\n"
def user(greeting,entering,season,temperature):
    print(greeting,entering,season,temperature)
user(greeting,entering,season,temperature)

Hello Pakistan
 welcome
 summer
 hot

In [25]:
def user(a,b,c,d):
    print(a,b,c,d)
    
greeting = "Hello Pakistan \n"
entering = "welcome \n"
season = "summer\n"
temperature = "hot\n"    
user(greeting,entering,season,temperature)

Hello Pakistan
 welcome
 summer
 hot

In [26]:
husband_name=input("Enter husband name")
wife_name=input("Enter wife name")
def couple(husband_name,wife_name):
    print(husband_name," and ",wife_name, "are husband and wife") 
couple(husband_name.upper(),wife_name.upper()) 

# dono parameters ka lia value dena zarori ha

Enter husband namezakir
Enter wife nameshamim
ZAKIR   and  SHAMIM are husband and wife

In [1]:
# husband_name=input("Enter husband name")
# wife_name=input("Enter wife name")
# def couple(husband_name,wife_name):
#     print(husband_name," and ",wife_name, "are husband and wife") 
# couple(wife_name.upper(),husband_name.upper()) 

# # dono parameters ka lia value dena zarori ha

Enter husband nameZakir Raza
Enter wife nameShamim
SHAMIM   and  ZAKIR RAZA are husband and wife

In [27]:
firstname=input("Enter the first name : ").upper()
middlename=input("Enter the middle name  : ").upper()
lastname=input("Enter the last name  : ").upper()

def fullname(firstname,middlename,lastname):
    print("Your full name is : "+firstname+" "+middlename+" "+lastname+" ")
    
fullname(firstname,middlename,lastname)

Enter the first name : muhammad
Enter the middle name  : mudassir
Enter the last name  : raza
Your full name is : MUHAMMAD  MUDASSIR  RAZA

In [28]:
def username(lastname,firstname,):
    fullname=firstname+lastname
    print(fullname)
username(firstname='mudassir',lastname='raza')

mudassirraza

In [29]:
def username(lastname,firstname,):
    fullname=lastname+firstname
    print(fullname)
username(firstname='mudassir',lastname='raza')

razamudassir

In [30]:
institute="SMITH"
def course(institute,language="python programming",duration): #manditary parameters must comes in last
    print(institute+"  "+language+"  "+duration)
course(institute,language,duration="3 months")

SyntaxError: non-default argument follows default argument (123616646.py, line 2)

In [31]:
#default parameter value always comes in last
institute="SMITH"
def course(institute,duration,language="python programming"): #manditary parameters must comes in last
    print(institute+"  "+language+"  "+duration)
course(institute,duration="3 months")

SMITH  python programming  3 months

In [32]:
   def calc_tax(sales_total, tax_rate):
        print(sales_total * tax_rate)
calc_tax(sales_total=101.37, tax_rate=.04)

4.0548

In [4]:
   def calc_tax(sales_total, tax_rate=.04):
        print(sales_total * tax_rate)
calc_tax(sales_total=101.37)
calc_tax(101.37)
calc_tax(sales_total=101.37,tax_rate=0.9)
calc_tax(101.37,0.10)

4.0548
4.0548
91.233
10.137

In [34]:
pronoun="MY name"
def personalinformation(pronoun,verb,name="mudassir"):
    print(pronoun+" "+verb+" "+name)
personalinformation(pronoun,verb="is")

MY name is mudassir

In [35]:
def personalinfo(name,fathername):
    print("My name is "+name+" and my fahter name is "+fathername)
personalinfo(name="MUHAMMAD MUDASSIR RAZA",fathername="ZAKIR RAZA")

My name is MUHAMMAD MUDASSIR RAZA and my fahter name is ZAKIR RAZA

In [36]:

questions={
  1:  { "sno" : 1,
      "question" : "What is your country name",
     "option" : ["Pakistan","UAE","USA","Africa"],
     "answer" : "Pakistan"
    } ,
        
 2:   { "sno" : 2,
      "question" : "What is your city name",
      "option" : ["Pakistan","UAE","USA","Africa","Karachi"],
      "answer" :  "Karachi"
     
    } ,
  3:  { "sno" : 3,
      "question" : "What is your subject name",
     "option" : ["Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" : "Computer Science"
    } 
 }
def find_something(dict,inner_dict,target):
    print(dict[inner_dict][target])
    
find_something(questions,3,"question")    
find_something(questions,3,"option")

What is your subject name
['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science']

In [6]:

questions={
  1:  { "sno" : 1,
      "name" : "raza",
      "question" : "What is your country name",
     "option" : ["Pakistan","UAE","USA","Africa"],
     "answer" : "Pakistan"
    } ,
        
 2:   { "sno" : 2,
       "name" : "ali",
      "question" : "What is your city name",
      "option" : ["Pakistan","UAE","USA","Africa","Karachi"],
      "answer" :  "Karachi"
     
    } ,
  3:  { "sno" : 3,
       "name" : "fahad",
      "question" : "What is your subject name",
     "option" : ["Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" : "Computer Science"
    } 
 }
def find_something(dict,inner_dict,target):
    print(dict[inner_dict][target])
    
find_something(questions,3,"name")    
find_something(questions,3,"option")

fahad
['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science']

In [37]:
#for insert/push more and many information(values) in a parameter we used * and loop
# one * show that the data comes in tuple

def detail(Class,section,*otherinfo):
    print("My class is "+Class+" and section is "+section) 
    for information in otherinfo:
        print(information)
    
detail("BSCS","A","Name : Mudassir","Fathername :Zakir","Email :raza@yahoo.com","City:Karachi","Country :Pakistan")

My class is BSCS and section is A
Name : Mudassir
Fathername :Zakir
Email :raza@yahoo.com
City:Karachi
Country :Pakistan

In [38]:
 #without loop information come in this way
# one * show that the data comes in tuple   

def detail(Class,section,*otherinfo):
    print("My class is "+Class+" and section is "+section)
    print(otherinfo)
detail("BSCS","A","Name :ALI","Fathername :RAZA","Email :ali@yahoo.com","City:Karachi","Country :Pakistan")

My class is BSCS and section is A
('Name :ALI', 'Fathername :RAZA', 'Email :ali@yahoo.com', 'City:Karachi', 'Country :Pakistan')

In [13]:
#for excess keys and  in parameter we use ** and in loop using .items for excess both keys snd values
# two ** show that the data comes in dictionary and you pass extra data in the form of key and value

def detail(Class,section,**otherinfo):
    print("My class is "+Class+" and section is "+section)
    print(otherinfo)
detail("BSCS","A",Name="ALI",Fathername ="RAZA",Email="ali@yahoo.com",City="Karachi",Country="Pakistan")

My class is BSCS and section is A
{'Name': 'ALI', 'Fathername': 'RAZA', 'Email': 'ali@yahoo.com', 'City': 'Karachi', 'Country': 'Pakistan'}

In [39]:
#for excess keys and  in parameter we use ** and in loop using .items for excess both keys snd values
# two ** show that the data comes in dictionary and you pass extra data in the form of key and value
def detail(Class,section,**otherinfo):
    print("My class is "+Class+" and section is "+section)
    for information in otherinfo:
        print(information)
detail("BSCS","A",Name="ALI",Fathername ="RAZA",Email="ali@yahoo.com",City="Karachi",Country="Pakistan")

My class is BSCS and section is A
Name
Fathername
Email
City
Country

In [9]:
def display_nums(first_num, second_num,*opt_nums):
    print(first_num)
    print(second_num)
    print(opt_nums)
    
display_nums(100, 200, 300, 400, 500)    
# data comes in list or tuple

100
200
(300, 400, 500)

In [11]:
def display_nums(basic_salary, house_rent,**other_benifits):
    print(basic_salary)
    print(house_rent)
    print(other_benifits)
    
display_nums(100, 200,bonus=300,overtime= 400,extra= 500)
display_nums(100, 200,bonus=300,overtime= 400,extra= 500)

100
200
{'bonus': 300, 'overtime': 400, 'extra': 500}

In [14]:
def display_nums(basic_salary, house_rent,**other_benifits):
     return basic_salary
#     print(house_rent)
#     print(other_benifits)
    
display_nums(100, 200,bonus=300,overtime= 400,extra= 500)
# display_nums(100, 200,bonus=300,overtime= 400,extra= 500)

100

In [18]:
def display_nums(basic_salary, house_rent,**other_benifits):
     return (basic_salary,house_rent,other_benifits)
 
    
display_nums(100, 200,bonus=300,overtime= 400,extra= 500)
# display_nums(100, 200,bonus=300,overtime= 400,extra= 500)

(100, 200, {'bonus': 300, 'overtime': 400, 'extra': 500})

In [40]:
#for excess keys and  in parameter we use ** and in loop using .items for excess both keys snd values
def detail(Class,section,**otherinfo):
    print("My class is "+Class+" and section is "+section)
    for keys,values in otherinfo.items():
        print(keys+":"+values)
detail("BSCS","A",Name="ALI",Fathername ="RAZA",Email="ali@yahoo.com",City="Karachi",Country="Pakistan")

My class is BSCS and section is A
Name:ALI
Fathername:RAZA
Email:ali@yahoo.com
City:Karachi
Country:Pakistan

In [41]:
def detail(Class,section,**otherinfo):
    print("My class is "+Class+" and section is "+section)
    for a_key,b_values in otherinfo.items():
        print(a_key+":"+b_values)
detail("BSCS","A",Name="ALI",Fathername ="RAZA",Email="ali@yahoo.com",City="Karachi",Country="Pakistan")

My class is BSCS and section is A
Name:ALI
Fathername:RAZA
Email:ali@yahoo.com
City:Karachi
Country:Pakistan

In [42]:
def detail(Class,section,**otherinfo):
    print("My class is "+Class+" and section is "+section)
    for Forminformation,Detailinformation in otherinfo.items():
        print(Forminformation+":"+Detailinformation)
detail("BSCS","A",Name="ALI",Fathername ="RAZA",Email="ali@yahoo.com",City="Karachi",Country="Pakistan")

My class is BSCS and section is A
Name:ALI
Fathername:RAZA
Email:ali@yahoo.com
City:Karachi
Country:Pakistan

In [43]:
#if i want to print result out side of function so we used the keyword return jis ka through hum result ko bhr excess krsakta ha
def sumfunction():
    num1=3
    num2=12
    num3=7
    result = num1+num2+num3
    return result
return_result=sumfunction()
print(return_result)

22

In [44]:
def sumfunction():
    number1=89
    number2=87
    number3=65
    number4=76
    result=number1+number2+number3+number4
    return result#we use return here to excess the result outside of function
return_result=sumfunction()#This is necessary to save function result when call return outsde of function that why we call function in return variable.
print(return_result)

317

In [45]:
def sumfunction1():
    num1=3
    num2=12
    num3=7
    result = num1+num2+num3
    return result
return_result1=sumfunction1()
print("return_result1 :" ,return_result1 ,"\n")

def mulfunction2():
    num1=3
    num2=12
    num3=7
    result = num1*num2*num3
    return result
return_result2=mulfunction2()
print("return_result2 :" ,return_result2 ,"\n")
 
def subfunction3():
    num1=3
    num2=12
    num3=7
    result = num1-num2-num3
    return result
return_result3=subfunction3()
print("return_result3 :" ,return_result3 ,"\n")

def divfunction4():
    num1=3
    num2=12
    num3=7
    result = num1-num2-num3
    return result
return_result4=divfunction4()
print("return_result3 :" ,return_result4 ,"\n")

finalresult=return_result1+return_result2+return_result3+return_result4
print(finalresult)

return_result1 : 22

return_result2 : 252

return_result3 : -16

return_result3 : -16

242

In [48]:
def courseinfo():
    inst="SMITH"
    language="  PYTHON PROGRAMMING"
    duration=" 3 months"
    return(inst+""+language+""+duration)
#for multiple values return we used ()
def userinfo():
    name=input("What is your name :")
    result=name.upper()+" "+"is enrolled in"+" "+courseinfo() #for returnwe call function in variable
    return result
wholeinfo=userinfo()
print(wholeinfo)

What is your name :raza
RAZA is enrolled in SMITH  PYTHON PROGRAMMING 3 months

In [50]:
# call one function in to another
def course():
    inst="FUUAST"
    subject="COMPUTER SCIENCE"
    duration ="4 years"
    return(inst+" "+subject+" "+duration+" ")
def userinfo():
    name=input("what is your name  ")
    result = "\n"+name.upper()+" is enrolled in "+course()
    return result
wholeinfo=userinfo()
print(wholeinfo)

what is your name  mudassir

MUDASSIR is enrolled in FUUAST COMPUTER SCIENCE 4 years

In [51]:
def personalinfo():
    name="MUHAMMAD MUDASSIR RAZA"
    Class="  BSCS  "
    Section=" A"
    return("\n"+"name: "+name+"\n"+"Class: "+Class+"\n"+"Section: "+Section)
#for multiple values return we used ()
def detailinfo():
    CNIC="42201-5510139-1"
    Father_Name="  ZAKIR RAZA"
    Live_in=" KARACHI"
    return("CNIC :"+CNIC+"\n"+"Father Name"+Father_Name+"\n"+"City Name:"+Live_in+"\n")
#for multiple values return we used ()
def userinfo():
    University=input("What is your university name :  ")
    result="\n You are enrolled in "+University+personalinfo()+"\n "+detailinfo() #for returnwe call function in variable
    return result
wholeinfo=userinfo()
print(wholeinfo)

What is your university name :  FUUAST

 You are enrolled in FUUAST
name: MUHAMMAD MUDASSIR RAZA
Class:   BSCS
Section:  A
 CNIC :42201-5510139-1
Father Name  ZAKIR RAZA
City Name: KARACHI

In [52]:
def addnum():
    name ="Umair"
    return name
firstname=addnum()
fullname=(firstname+" "+"Aslam")
print(fullname)

Umair Aslam

In [53]:
def fullname(firstname ,middlename ,lastname):
    firstname;
    middlename;
    lastname;
    return(firstname +" "+middlename+" "+lastname)
full_name=fullname(firstname="MUHAMMAD",middlename="MUDASSIR",lastname="RAZA")
print(full_name)

MUHAMMAD MUDASSIR RAZA

In [54]:
def calc_tax(sales_total, tax_rate):
    print(sales_total * tax_rate)
calc_tax(sales_total=101.37, tax_rate=.05)

5.0685

In [55]:
 def calc_tax(sales_total, tax_rate=.04):
        print(sales_total * tax_rate)
calc_tax(sales_total=101.37)

4.0548

In [56]:
 def calc_tax(sales_total, tax_rate=.04):
        tax=sales_total * tax_rate
        return tax
        
sale_tax=calc_tax(sales_total=101.37)
print(sale_tax)

4.0548

In [57]:
def calc_tax(sales_total, tax_rate=.04):
        return(sales_total * tax_rate)
        
sale_tax=calc_tax(sales_total=101.37)
print(sale_tax)

4.0548

In [58]:
def give_greeting(greeting, first_name):
    print(greeting + ", " + first_name)
give_greeting("Hello there", first_name="Ali")

Hello there, Ali

In [59]:
def give_greeting(greeting, first_name,flattering_nickname=" the wonder boy"):
    print(greeting + ", " + first_name +flattering_nickname)
give_greeting("Hello there", first_name="Ali")

Hello there, Ali the wonder boy

In [60]:
def add_numbers(first_number, second_number):
    return first_number + second_number

def subtract_numbers(first_number, second_number):
    return first_number - second_number

result_of_adding = add_numbers(1, 2)

result_of_subtracting = subtract_numbers(3, 2)

sum_of_results = result_of_adding +result_of_subtracting

print(sum_of_results)

4

In [61]:
#local variable define within in function
def whatever():
    y = 23 
    print(y)
    y = 1
    print(y)
whatever()

23
1

In [62]:
#global variable define outside in function
y = 1
 
def whatever():
    
    print(y)
     
whatever()

1

In [63]:
def whatever():
    a = 1
whatever()

print(a)
# you cant access local variable outside the function

6

In [64]:
#functions within functions
def say_something():
    what_to_say = "Hi"
    return(what_to_say)
# now_say_it(say_something())
# print(now_say_it)
    
def now_say_it(content):
    print(content)
now_say_it(say_something())

Hi

In [65]:
def say_something():
    what_to_say = "Hi"
    return what_to_say
    
now_say_it(say_something())
    
    
def now_say_it(content):
    print(content)

Hi

# while loops :

In [66]:
#when you want to select more than one city means continue selection you can used whie loop.
# while work continously until you quit

In [67]:
cleanest_cities = ["karachi", "lahore", "islamabad","peshawar", "quetta"]
user_input = ""
while user_input != "q":
    user_input = input("Enter a city, or q toquit:")
    if user_input != "q":
        for a_clean_city in cleanest_cities:
            if user_input == a_clean_city:
                print("It's one of the cleanest cities")
                break

Enter a city, or q toquit:karachi
It's one of the cleanest cities
Enter a city, or q toquit:q

In [68]:
#now using flag make code easy
cleanest_cities = ["karachi", "lahore", "islamabad","peshawar", "quetta"]
data ="\n" + "1) "+str(cleanest_cities[0])+"\n" + "2) "+str(cleanest_cities[1])+"\n" + "3) "+str(cleanest_cities[2])+"\n" + "4) "+str(cleanest_cities[3])+"\n" + "5) "+str(cleanest_cities[4])+"\n"
# print(data)
flag=True
while  flag == True:
    user_input = input(data +"Enter a city, or q to quit/exit:")
    if user_input != "q":
        for a_clean_city in cleanest_cities:
            if user_input == a_clean_city:
                print("It's one of the cleanest cities")
                break
    else:
        flag=False

1) karachi
2) lahore
3) islamabad
4) peshawar
5) quetta
Enter a city, or q to quit/exit:karachi
It's one of the cleanest cities

1) karachi
2) lahore
3) islamabad
4) peshawar
5) quetta
Enter a city, or q to quit/exit:q

In [70]:
 #today list in python
elements=[]
i=1
while True :
    print("Elements in our list: ")
    for element in elements:
        print(i,")" ,element)
        i+=1
    print("\noptions:")
    print("1.Add Element")
    print("2.Delete Element")
    print("3.Delete All Element")
    print("4.Exit")
    print("\nNote: please give input in numbers e.g:1,2,3,4")
    inp=input("\nEnter your choice: ")
    if inp == '1':
        elements.append(input("\nEnter your element: "))
    elif inp == '2':
        elements.remove(input("\nEnter your element: "))
    elif inp == '2':
        elements.clear()
    elif inp == '4':
         break  
    else :
        print("Invalid Syntax")

Elements in our list:

options:
1.Add Element
2.Delete Element
3.Delete All Element
4.Exit

Note: please give input in numbers e.g:1,2,3,4

Enter your choice: 1

Enter your element: raza
Elements in our list:
1 ) raza

options:
1.Add Element
2.Delete Element
3.Delete All Element
4.Exit

Note: please give input in numbers e.g:1,2,3,4

Enter your choice: 1

Enter your element: ali
Elements in our list:
2 ) raza
3 ) ali

options:
1.Add Element
2.Delete Element
3.Delete All Element
4.Exit

Note: please give input in numbers e.g:1,2,3,4

Enter your choice: 4

In [71]:
marks=89
print("Marks",marks)

Marks 89

In [79]:
marks="89"
print("Marks :{}".format(marks))

Marks :89

In [80]:
marks=89
print("Marks :{}".format(marks))

Marks :89

In [ ]:
def checkPrime(X):
    if X > 1:
        for i in range(2,int(X/2)+1):
            if(X % i)==0:
                print(X, " is not a prime number\n")
                print("The factors of", X, "are: ")
                for j in range(1, X+1):
                    if(X % j)==0:
                        print(j," ")
                break
            else:
                print(X, " is a prime number")
    else:
        print(X, " is 1 or less than one and it's not prime")

X=int(input("Enter a positive Number: "))
checkPrime(X)

In [ ]:
def prime(n): 
 isprime = True 
	if n<2: 
		isprime = False 
	else: 
		for i in range(2,n): 
			if n%i==0: 
				isprime = False 
				break 
	return isprime 
 
def factors(n): 
	fact,factlist = 2,[1] 
	for i in range(2,n): 
		if not n%i: 
			fact += 1 
			factlist.append(i) 
	factlist.append(n) 
	return (fact,factlist) 
 
n = int(input('Enter any number: ')) 
print('Prime number:',prime(n)) 
print('Number of factors:',factors(n)[0]) 
print('List of factors:',factors(n)[1])

In [ ]:
# pg#142,139,136,132,129,144

In [ ]:
calc(x=23,y=.4)

In [3]:
# First code the function call on line 12.
# Then come back and code the function starting on line 4.
# The function will take two or three lines, depending on how you approach it.
members = {
        "adults": ["Ditmar", "Salvador", "Punya"],
        "children": ["Caliban", "Eustis", "Ali"],
        }
def call(dict,inner_dict,target):
    
    print(dict)
    print(dict[inner_dict])
    print(dict[inner_dict][target])
# First code the function call on line 12.
call(members,"adults",1)

{'adults': ['Ditmar', 'Salvador', 'Punya'], 'children': ['Caliban', 'Eustis', 'Ali']}
['Ditmar', 'Salvador', 'Punya']
Salvador

In [6]:
def add_numbers(2, second_number = 4): #first argument is position argument, second argument is keyword argument
    total = first_number + second_number
    print(total)    
add_numbers()

In [8]:
def calc(first_number, second_number):
    print(first_number,second_number)
calc(8,second_number = 10)

8 10

In [2]:
def square_of_a_number():
    num = float(input("Enter a number to square:"))
    square = num**2
    print(f"The sqaure of {num} is {square}")
square_of_a_number()

Enter a number to square:33
The sqaure of 33.0 is 1089.0

In [3]:
def area_of_square():
    length = float(input("Enter length of sqaure in meters"))
    breadth = float(input("Enter breadth of square in meters"))
    area = length * breadth
    print(f"Length: {length} \nBreadth {breadth}: \nArea: {area} meters square")
area_of_square()

Enter length of sqaure in meters2
Enter breadth of square in meters2
Length: 2.0
Breadth 2.0:
Area: 4.0 meters square

In [4]:
def salary_increment(name='',eos=0,currentSalary=0): # parameters
    '''This function is defined in our class of SMIT
     on 26th Jan 2022
     this function needs 3 arguments the name of emp 
     year of service
     current salary of the employe
     this will return Salary Details '''
    
    if eos >=1:
        
        if currentSalary <50000:
            increment = currentSalary*.20
            newSalary = currentSalary + increment
            
        elif ((currentSalary>=50000) and (currentSalary<100000)):
            increment = currentSalary*.15
            newSalary = currentSalary + increment
            
        elif ((currentSalary>=100000) and (currentSalary<=150000)):
            increment = currentSalary*.10
            newSalary = currentSalary + increment
        else:
            increment = currentSalary*.05
            newSalary = currentSalary + increment
        print(f"""
                    Name of Employee: {name}
                    Year of Service : {eos}
                    Current Salary  : {currentSalary}
                    Increment Amount: {increment}
                    New Salary      : {newSalary }""")
            
    else:
        print("There is no increment for you this year")
    
salary_increment("Nasir", 2, 120000)# arguments

                    Name of Employee: Nasir
                    Year of Service : 2
                    Current Salary  : 120000
                    Increment Amount: 12000.0
                    New Salary      : 132000.0

In [5]:
salary_increment("Nasir", 2, 120000)# arguments

                    Name of Employee: Nasir
                    Year of Service : 2
                    Current Salary  : 120000
                    Increment Amount: 12000.0
                    New Salary      : 132000.0

The variables written in function definition are called parameters

The Values supplied during a function call are called arguments

In [6]:
salary_increment(eos=2, name="Fahad",currentSalary=36000)# keyword arguments

                    Name of Employee: Fahad
                    Year of Service : 2
                    Current Salary  : 36000
                    Increment Amount: 7200.0
                    New Salary      : 43200.0

In [7]:
salary_increment('Danish')

There is no increment for you this year

In [8]:
salary_increment("Rehan", 5)

                    Name of Employee: Rehan
                    Year of Service : 5
                    Current Salary  : 0
                    Increment Amount: 0.0
                    New Salary      : 0.0

In [9]:
salary_increment(5,60000)

                    Name of Employee: 5
                    Year of Service : 60000
                    Current Salary  : 0
                    Increment Amount: 0.0
                    New Salary      : 0.0

In [10]:
name= input("Enter employee name")
eos = float(input("Enter number of years in service"))
current_salary = float(input("Enter current salary of the empployee"))


salary_increment(name, eos, current_salary)

Enter employee nameraza
Enter number of years in service4
Enter current salary of the empployee1200000

                    Name of Employee: raza
                    Year of Service : 4.0
                    Current Salary  : 1200000.0
                    Increment Amount: 60000.0
                    New Salary      : 1260000.0

In [11]:
help(salary_increment)

Help on function salary_increment in module __main__:

salary_increment(name='', eos=0, currentSalary=0)
    This function is defined in our class of SMIT
    on 26th Jan 2022
    this function needs 3 arguments the name of emp
    year of service
    current salary of the employe
    this will return Salary Details

In [14]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [15]:
 def describe_pet(animal_type, pet_name):
    """Display information about a pet."""
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name.title() + ".")

In [16]:
describe_pet('hamster', 'harry')

I have a hamster.
My hamster's name is Harry.

# Return Values

Gobal Variable: Can be accessed in and out of function

Local Variable: local variables are defined and accessed only inside the function

In [17]:
a  = 100   # gloabl variable

def square_of_a_number(num):
    
    square = num**2   # local variable
    print(f"The sqaure of {num} is {square} which is a local variable")
    print(f"The value of global variable a is {a}")

In [18]:
square_of_a_number(7)

The sqaure of 7 is 49 which is a local variable
The value of global variable a is 100

In [19]:
print(square)

NameError: name 'square' is not defined

In [20]:
def circumference(radius):
    circumference  = 2 * 3.142 * radius 
    # ksi local variable ki value ko function se bahar access karne k liye
    # return k through bahar nikalenge
    return circumference

In [21]:
value_of_cir = circumference(4.5)

In [22]:
value_of_cir

28.278

In [23]:
def square_of_a_number(num):
    
    square = num**2# local variable
    print("I am code written after return")
    return square, f"I am sqaured of {num}"

In [24]:
returned_values = square_of_a_number(6)
#tuple

I am code written after return

In [25]:
a,b = returned_values
print(a)
print(b)

36
I am sqaured of 6

In [26]:
def build_person(first_name, last_name):
    """Return a dictionary of information about a person."""
    person = {'first': first_name, 'last': last_name}
    return person

In [27]:
musician = build_person('ali', 'raza')
print(musician)

{'first': 'ali', 'last': 'raza'}

In [28]:
def build_person(first_name, last_name, age=''):
    person = {'first': first_name, 'last': last_name}
    if age:
        person['age'] = age
    return person

In [29]:
musician = build_person('ali', 'raza',age=27)
print(musician)

{'first': 'ali', 'last': 'raza', 'age': 27}

In [30]:
musician = build_person('ali', 'raza')
print(musician)

{'first': 'ali', 'last': 'raza'}

In [1]:
def get_formatted_name(first_name, last_name):    
    full_name = first_name + ' ' + last_name
    return full_name.title()

In [3]:
while True:
    print("\nPlease tell me your name:")
    print("(enter 'q' at any time to quit)")

    f_name = input("First name: ")
    if f_name == 'q':
        break
    l_name = input("Last name: ")
    if l_name == 'q':
        break
    formatted_name = get_formatted_name(f_name, l_name)

    print("\nHello, " + formatted_name + "!")

Please tell me your name:
(enter 'q' at any time to quit)
First name: Mudassir
Last name: Raza

Hello, Mudassir  Raza!

Please tell me your name:
(enter 'q' at any time to quit)
First name: Mudassir
Last name: Raza

Hello, Mudassir Raza!

Please tell me your name:
(enter 'q' at any time to quit)
First name: Muhammad
Last name: Mudassir

Hello, Muhammad Mudassir!

Please tell me your name:
(enter 'q' at any time to quit)
First name: Ali
Last name: Hassan

Hello, Ali Hassan!

Please tell me your name:
(enter 'q' at any time to quit)
First name: q

8-7. Album: Write a function called make_album() that builds a dictionary
describing a music album. The function should take in an artist name and an
album title, and it should return a dictionary containing these two pieces of
information. Use the function to make three dictionaries representing different
albums. Print each return value to show that the dictionaries are storing the
album information correctly.
Add an optional parameter to make_album() that allows you to store the
number of tracks on an album. If the calling line includes a value for the number of tracks, add that value to the albums dictionary. Make at least one new
function call that includes the number of tracks on an album.

In [52]:
studio=[]
def make_album(artist_name,albumtitle,number_of_tracks=""):
    album_dic={"artist name : ":artist_name,"album title : ":albumtitle}
    if number_of_tracks:
        album_dic["number of tracks"]=number_of_tracks
    
    studio.append(album_dic)
    return album_dic

In [53]:
while True:
    artist_name=input("Enter the artis name or q for quit")
    if artist_name == "q":
        break
    albumtitle=input("Enter the  album title or q for quit")
    if albumtitle == "q":
        break    
    number_of_tracks=input("Enter the    number of tracks or q for quit")
    if   number_of_tracks == "q":
        break    
    make_album(artist_name,albumtitle,number_of_tracks)

Enter the artis name or q for quitatif
Enter the  album title or q for quittera
Enter the    number of tracks or q for quit1
Enter the artis name or q for quitabida
Enter the  album title or q for quitae dard
Enter the    number of tracks or q for quit3
Enter the artis name or q for quitq

In [56]:
 print(studio)
# studio

[{'artist name : ': 'atif', 'album title : ': 'tera', 'number of tracks': '1'}, {'artist name : ': 'abida', 'album title : ': 'ae dard', 'number of tracks': '3'}, {'artist name : ': 'ABC', 'album title : ': 'Album1'}]

In [55]:
print(make_album("ABC","Album1"))

{'artist name : ': 'ABC', 'album title : ': 'Album1'}

In [23]:
print(make_album("xyz","Album2", 5))

{'artist name : ': 'xyz', 'album title : ': 'Album2', 'number of tracks': 5}

In [62]:
studio=[]
def make_album(artist_name,albumtitle,number_of_tracks=""):
    album_dic={"artist name : ":artist_name,"album title : ":albumtitle}
    if number_of_tracks:
        album_dic["number of tracks"]=number_of_tracks
    
    studio.append(album_dic)
 
        
    return album_dic    


while True:
    artist_name=input("Enter the artis name or q for quit")
    if artist_name == "q":
        break
    albumtitle=input("Enter the  album title or q for quit")
    if albumtitle == "q":
        break    
    number_of_tracks=input("Enter the    number of tracks or q for quit")
    if   number_of_tracks == "q":
        break    

    make_album(artist_name,albumtitle,number_of_tracks)

Enter the artis name or q for quitf
Enter the  album title or q for quitf
Enter the    number of tracks or q for quitf
Enter the artis name or q for quitq

In [65]:
print(studio)

[{'artist name : ': 'f', 'album title : ': 'f', 'number of tracks': 'f'}, {'artist name : ': 'xyz', 'album title : ': 'Album2', 'number of tracks': 5}]

In [64]:
print(make_album("xyz","Album2", 5))

{'artist name : ': 'xyz', 'album title : ': 'Album2', 'number of tracks': 5}

In [66]:
print(make_album("xyz","Album2", 5))

{'artist name : ': 'xyz', 'album title : ': 'Album2', 'number of tracks': 5}

# Passing a List

In [68]:
def my_sum(alist):
    total=sum(alist)
    return total

In [69]:
my_sum([1,2,3,4,5,6,7,8,9,10])

55

In [70]:
def greet_users(names):
    for name in names:
        msg = "Hello, " + name.title() + "!"
        print(msg)

In [71]:
usernames = ['hannah', 'ty', 'margot']
greet_users(usernames)

Hello, Hannah!
Hello, Ty!
Hello, Margot!

# Modifying a List in a Function

In [73]:
unprinted_designs = ['iphone case', 'robot pendant', 'dodecahedron']
completed_models = []

In [74]:
while unprinted_designs:
    current_design = unprinted_designs.pop()
    
    print("Printing model: " + current_design)
    completed_models.append(current_design)

Printing model: dodecahedron
Printing model: robot pendant
Printing model: iphone case

In [75]:
# Display all completed models.
print("\nThe following models have been printed:")
for completed_model in completed_models:
    print(completed_model)

The following models have been printed:
dodecahedron
robot pendant
iphone case

# Passing an Arbitrary Number of Arguments

In [77]:
def addfunction(a="",b="",c="",d="",e="",f=""):
    print(a,b,c,d,e,f)

In [78]:
addfunction("A","B","C","D","E","Q")

A B C D E Q

In [79]:
addfunction()

In [80]:
addfunction(111,222,333,444,555,666,777)

TypeError: addfunction() takes from 0 to 6 positional arguments but 7 were given

In [81]:
addfunction(111,222,333,444,555,666)

111 222 333 444 555 666

In [82]:
def make_pizza(*toppings):
    print("\nMaking a pizza with the following toppings:")
    for topping in toppings:
        print("- " + topping)

In [83]:
make_pizza('mushrooms', 'green peppers', 'extra cheese')

Making a pizza with the following toppings:
- mushrooms
- green peppers
- extra cheese

In [84]:
a = (12,)

In [85]:
a

(12,)

In [86]:
def make_pizza(size, *toppings):
    print("\nMaking a " + str(size) +"-inch pizza with the following toppings:")
    for topping in toppings:
         print("- " + topping)

make_pizza(16, 'pepperoni')
make_pizza(12, 'mushrooms', 'green peppers', 'extra cheese')

Making a 16-inch pizza with the following toppings:
- pepperoni

Making a 12-inch pizza with the following toppings:
- mushrooms
- green peppers
- extra cheese

In [87]:
len("")

0

In [88]:
a = 120
def local_global():
    
    global a
    a = 10
    print(a)

In [89]:
local_global()

10

In [90]:
a

10

In [ ]:
.
# assignment :create a program that will all a funnction to generate KE billings details on the basis of given input units
#  The funtion will only call other functions for any processing and only print  return values from calling functions   
#KE Teriff  unit forr july 2022

In [1]:
    
def electricity(monthly_units):
    
    charges=0
    if monthly_units > 0 and monthly_units <=100:
        charges=monthly_units * 9.43
    elif monthly_units >100 and monthly_units <=200:
        charges=monthly_units * 10.29
    elif monthly_units >200 and monthly_units <=300:
        charges=monthly_units * 12.55
    elif monthly_units >300 and monthly_units <=400:
        charges=monthly_units * 17.38    
    elif monthly_units >400 and monthly_units <=500:
        charges=monthly_units * 18.84
        
    elif monthly_units >500 and monthly_units <=600:
        charges=monthly_units * 19.76  
    elif monthly_units >600 and monthly_units <=700:
        charges=monthly_units * 20.40     
        
        
    else: #invalid values given
        charges=-1
        
        
        
    
    return charges



def  uniform(monthly_units):
    
    charges=0
    if monthly_units > 0 and monthly_units <=100:
        charges=monthly_units * 5.79
    elif monthly_units >100 and monthly_units <=200:
        charges=monthly_units * 8.11
    elif monthly_units >200 and monthly_units <=300:
        charges=monthly_units * 10.20
    elif monthly_units >300 and monthly_units <=700:
        charges=monthly_units * 19.25   
          
        
    else: #invalid values given
        charges=-1
        
        
        
    
    return charges



# monthly_units=525

def bill_main(monthly_units):
    electric_charges=electricity(monthly_units)
    print("Electirc charges for ",monthly_units,"=",electric_charges)
    
    uniform_charges=uniform(monthly_units)
    print("eletric charge for ",monthly_units,"=",uniform_charges)
    
#     fuel_charges=fuel(monthly_units)
#     print("eletric charge for ",monthly_units,"=",fuel_charges)
    
#     sales_tax=sales_tax(monthly_units)
#     print("eletric charge for ",monthly_units,"=",sales_tax)
    
#     advance_tax=advance_tax(monthly_units)
#     print("eletric charge for ",monthly_units,"=",advance_tax)
    
#     tv_fee=tv_fee(monthly_units)
#     print("eletric charge for ",monthly_units,"=",tv_fee)
    
    
#     total=total(electric_charges,uniform_charges,fuel_charges,sales_tax,advance_tax,tv_fee)
#      print("eletric charge for ",monthly_units,"=",total)
    

bill_main(monthly_units =525 )
bill_main(112)
bill_main(349)
bill_main(700)
bill_main(-22)
bill_main( 450)
bill_main( 116)



 
    
# Ans :  10374.0

Electirc charges for  525 = 10374.0
eletric charge for  525 = 10106.25
Electirc charges for  112 = 1152.48
eletric charge for  112 = 908.3199999999999
Electirc charges for  349 = 6065.62
eletric charge for  349 = 6718.25
Electirc charges for  700 = 14279.999999999998
eletric charge for  700 = 13475.0
Electirc charges for  -22 = -1
eletric charge for  -22 = -1
Electirc charges for  450 = 8478.0
eletric charge for  450 = 8662.5
Electirc charges for  116 = 1193.6399999999999
eletric charge for  116 = 940.76