## LIST,TUPLES,FOR LOOPS,CHANGING CASE,Getting information from the user and converting strings and numbers

# LIST

#List is like an array consist of group of element

In [1]:
khi_temp  = [10,20,21,30,32,28,29,"Pakistan"]   #A list consit of nos and string
print(khi_temp)

[10, 20, 21, 30, 32, 28, 29, 'Pakistan']

In [2]:
#want to print particular element from list
print(khi_temp[2])

21

In [3]:
#To find length of list we used len() function
print(len(khi_temp))

8

In [4]:
khi_temp[7] ="raza"
print(khi_temp)
##It will change the element from index 7

[10, 20, 21, 30, 32, 28, 29, 'raza']

In [5]:
##Add Element in list  we used append
khi_temp.append("Muhammad")
print(khi_temp)
##All add in last

[10, 20, 21, 30, 32, 28, 29, 'raza', 'Muhammad']

In [6]:
##Remove Element in list  we used remove function .
khi_temp.remove("Muhammad")
print(khi_temp)

[10, 20, 21, 30, 32, 28, 29, 'raza']

In [7]:
## if you want to add on particular index we used insert function
khi_temp.insert(0,"ALI")
print(khi_temp)

['ALI', 10, 20, 21, 30, 32, 28, 29, 'raza']

In [8]:
## if you want to get last element from list  we used pop() 
khi_temp=khi_temp.pop()
print(khi_temp)

raza

In [9]:
## if you want to particular element from list  we used pop() 
khi_temp=['ALI', 10, 20, 21, 30, 32, 28, 29, 'raza']
khi_temp1=khi_temp.pop(1)
print(khi_temp1)

10

In [10]:
khi_temp=['ALI', 10, 20, 21, 30, 32, 28, 29, 'raza']

In [1]:
l1=[1,8,4,3,15,20,25,89,65]       #l1 is a list
print(l1)

l1.sort()
print(l1)      #l1 after sorting
l1.reverse()
print(l1)

[1, 8, 4, 3, 15, 20, 25, 89, 65]
[1, 3, 4, 8, 15, 20, 25, 65, 89]
[89, 65, 25, 20, 15, 8, 4, 3, 1]

# SLICING IN LIST

In [2]:
x = "String Demo"
# -11,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1
#  0,1,2,3,4,5,6,7,8,9,10,
#This string variable x contains a string containing 11 characters (including spaces).
#Since the index in a string starts from 0 to length-1, this string can be looked at as:

#Note: The indexes of a string begin from 0 to (length-1) in the forward direction and -1,-2,-3,â€¦, 
#-length in the backward direction. 
print(x[-1]) #exclude the value on -1

print(x[-11:])
print(x[::-1])

o
String Demo
omeD gnirtS

In [10]:
print(x[:11])

String Demo

In [3]:
x="amazing"
print(x[-7:-1])

amazin

In [3]:
##if i want the from index 0 to 3 
khi_temp=['ALI', 10, 20, 21, 30, 32, 28, 29, 'raza']
print(khi_temp[0:4])

['ALI', 10, 20, 21]

In [13]:
##if i want the from index 4 to last
#inclsive
print(khi_temp[4:])

[30, 32, 28, 29, 'raza']

In [14]:
##if i want the from index 0 to 3 
#exclusive
khi_temp[:4]

['ALI', 10, 20, 21]

In [31]:
#second last and last
khi_temp[-2:]

[29, 'raza']

In [32]:
#third last,second last and last
khi_temp[-3:]

[28, 29, 'raza']

In [16]:
#index base value delete we usee delete
# del khi_temp[0:2]
del khi_temp[0]
print(khi_temp)

[10, 20, 21, 30, 32, 28, 29, 'raza']

In [17]:
# del khi_temp[0:2]
del khi_temp[0:2]
print(khi_temp)

[21, 30, 32, 28, 29, 'raza']

In [18]:
##find max value in list 
khi_temp1=[10, 20, 21, 30, 32, 28, 29,110]
print(max(khi_temp1))

110

In [19]:
##find min value in list 
khi_temp1=[10, 3,8,9,20, 11,18, 21, 30, 32, 28, 29,110]
print(min(khi_temp1))

3

In [20]:
##find sort  the list (Arrange in ascending order)
khi_temp1= [10, 3,8,9,20, 11,18, 21, 30, 32, 28, 29,110]
khi_temp1.sort()
print(khi_temp1)

[3, 8, 9, 10, 11, 18, 20, 21, 28, 29, 30, 32, 110]

In [21]:
##For Converting String in to list we used list function
lst="AAABCADDE"
x=list(lst)
print(x)

['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D', 'E']

In [22]:
# list1=x[0:3]
list1=x[:3]
print(list1)

['A', 'A', 'A']

In [23]:
list2=x[3:6]
 
print(list2)

['B', 'C', 'A']

In [24]:
# list3=x[6:9]
list3=x[6:]
print(list3)

['D', 'D', 'E']

In [25]:

list4=x[:5]
print(list4)

['A', 'A', 'A', 'B', 'C']

In [26]:
list5=x[5:]
print(list5)

['A', 'D', 'D', 'E']

# TUPLES -->toople (Element are fixed not change )

In [27]:
#TUPLES -->toople (Element are fixed not change )
x=[1,2,3] 

#change to tuple
y=tuple(x)

#change tupple to list
x=list(y)


print(y)
print(x)

(1, 2, 3)
[1, 2, 3]

In [28]:
##tuples is a list but we write in () round bracket
tp=('Raza',"ALi",1,2)
print(tp)

('Raza', 'ALi', 1, 2)

In [29]:
tp[1]=5
print(tp)

TypeError: 'tuple' object does not support item assignment

# For loops

In [33]:
#jsut through if else example how loop help us
city_to_check =input("Enter the city ")
cleanest_cities = ["karachi", "lahore", "islamabad","peshawar", "quetta"]
if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
    
elif city_to_check == cleanest_cities[1]: 
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
         print("It's one of the cleanest cities")

##It takes times check all condition

Enter the city karachi
It's one of the cleanest cities

In [ ]:
#syntax for <variable> in <list>
#variable will contain a single value in each iteration
#i.e first iteration , firstvalue ,second iteration  second value and so on
#common practice or notation 
#use purals for list and singular as variable name

In [34]:
##Now through loops
city_to_check =input("Enter the city ")
cleanest_cities = ["karachi", "lahore", "islamabad","peshawar", "quetta"]
##clean_city --> just a variable name 
##in a kewword --> to check a value present in cleanest_cities
## all value come in clean_city from cleanest_cities one by one 
for clean_city in  cleanest_cities:
    if city_to_check.lower() ==  clean_city:
        print("It's one of the cleanest cities")
        break
    else :
        print("It is not one of the cleanest cities")

Enter the city karachi
It's one of the cleanest cities

In [35]:
cities=["karachi","multan","lahore","islamabad","sukkar","kashmir","quetta","ziarat","swat","naran"]
k_in_cities=[]
k_not_in_cities=[]
for city in cities :    ##in is used for check
    if "k" in city:
        k_in_cities.append(city)
      
    else: 
        k_not_in_cities.append(city)
        
        
        
print(k_in_cities)   
print( k_not_in_cities)

['karachi', 'sukkar', 'kashmir']
['multan', 'lahore', 'islamabad', 'quetta', 'ziarat', 'swat', 'naran']

In [36]:
Student_name=input("Enter name to find index ")
names=['arif','kamran','samran','asad','imran','sameer','nasir','rafeeq','rasheed','fareed']
##For location
loc=names.index(Student_name)
print(loc)
age=[15.6,16.7,15.8,14.9,16.0,15.1,15.2,14.3,15.4,15.5]
loc1=age[loc]
marks=[70,80,90,60,65,67,68,80,96,97]

loc2=marks[loc]

print("The Student Name is ",Student_name,"\n","The Student Age is ", loc1 , "\n","The Students Marks",loc2)


#scalar variable: single value variable
#vector variable :Multi value variable

Enter name to find index asad
3
The Student Name is  asad
 The Student Age is  14.9
 The Students Marks 60

In [37]:
##Nested loops
firstnames=["Ali","Muhammad","Hassan","Midhat"]
last_names=["Raza","ALi","Mujtaba","zehra"]
full_names=[]
for firstname in firstnames:
    for last_name in last_names:
        full_names.append(firstname +" "+last_name )
      
        
print(full_names)

['Ali Raza', 'Ali ALi', 'Ali Mujtaba', 'Ali zehra', 'Muhammad Raza', 'Muhammad ALi', 'Muhammad Mujtaba', 'Muhammad zehra', 'Hassan Raza', 'Hassan ALi', 'Hassan Mujtaba', 'Hassan zehra', 'Midhat Raza', 'Midhat ALi', 'Midhat Mujtaba', 'Midhat zehra']

# Changing Case

In [38]:

name="muhammad mudassir raza"
study="doing bachelor in computer science"
print(name.lower())
print(study.lower())

print(name.upper())
print(study.upper())

print(name.title())
print(study.title())

print(name.capitalize())
print(study.capitalize())

muhammad mudassir raza
doing bachelor in computer science
MUHAMMAD MUDASSIR RAZA
DOING BACHELOR IN COMPUTER SCIENCE
Muhammad Mudassir Raza
Doing Bachelor In Computer Science
Muhammad mudassir raza
Doing bachelor in computer science

In [1]:
mystr = "Harry is a good boy"
# print(len(mystr))
# print(mystr[::-2])

print(mystr.endswith("bdoy"))
print(mystr.count("o"))
print(mystr.capitalize())
print(mystr.replace("is", "are"))

False
3
Harry is a good boy
Harry are a good boy

In [39]:
# LINEAR REGRESION
sizes =[523,645,708,1034,2290,2545] #Y=DEPENDENT VARIABLE
prices=[115,150,210,280,355,440]   #X=INDEPENDENT VARIABLE
#y=mx+c
# logic:prices=size *m +c
# logic:c=0  
#logic: m=prices/sizes -c #ignore c because it is zero

multipliers=[]
# m=0
loc=0

for price in prices: 
    m=price/sizes[loc]
    multipliers.append(m)
    loc=loc +1
    
print(multipliers)

multiplier=sum(multipliers)/len(multipliers)  ##mean
print(multiplier)

[0.2198852772466539, 0.23255813953488372, 0.2966101694915254, 0.27079303675048355, 0.15502183406113537, 0.17288801571709234]
0.2246260788002957

In [40]:
#Another way

sizes =[523,645,708,1034,2290,2545]
prices=[115,150,210,280,355,440]  
# logic:prices=size *m +c
# logic:c=0  
#logic: m=price/size -c #ignore c because it is zero
multipliers=[]
# m=0


for loc in range(len(prices)): 
    m=prices[loc]/sizes[loc]
    multipliers.append(m)
    
print(multipliers)
multiplier=sum(multipliers)/len(multipliers)
print(multiplier)

[0.2198852772466539, 0.23255813953488372, 0.2966101694915254, 0.27079303675048355, 0.15502183406113537, 0.17288801571709234]
0.2246260788002957

In [4]:
#testing
price=0.2246 *523
print(price)

117.4658

In [41]:
sizes =[523,645,708,1034,2290,2545]
prices=[115,150,210,280,355,440] 
#y=mx+c
# logic:prices=size *m +c
# logic:c=0  
#logic: m=price/size -c #ignore c because it is zero
# x=independent variable
# y=dependent variable
multipliers=[]
# m=0


for loc in range(len(prices)): 
    m=prices[loc]/sizes[loc]
    multipliers.append(m)
    
# print(multipliers)
avg_multiplier=sum(multipliers)/len(multipliers)  #mean   (slope)
print(avg_multiplier)


#testing

for loc in range(len(prices)): 
    price=avg_multiplier*sizes[loc]
    print("predicted: ",price, ": Actual ",prices[loc])

0.2246260788002957
predicted:  117.47943921255465 : Actual  115
predicted:  144.8838208261907 : Actual  150
predicted:  159.03526379060935 : Actual  210
predicted:  232.26336547950575 : Actual  280
predicted:  514.3937204526771 : Actual  355
predicted:  571.6733705467525 : Actual  440

In [ ]:
#mathematical fundamental mathematics

In [42]:
import random
random_number = random.randrange(1,30)
flag = False
for i in range(1,4):
    guess = int(input("Guess the number between 1 to 30: "))
    if guess == random_number:
        flag = True
        break
    elif guess < random_number:
        print("Your guess is too low")
    else:
        print("Your guess is too high")
if flag:
    print("Congratulations You win!")
else:
    print("Sorry! You LOOSE")
    
    print("Correct number is", random_number)

Guess the number between 1 to 30: 5
Your guess is too low
Guess the number between 1 to 30: 15
Your guess is too low
Guess the number between 1 to 30: 25
Your guess is too low
Sorry! You LOOSE
Correct number is 26

In [46]:
def add(ten,eight):
    total=ten+eight
    print(total)
    
add(num1=2,num2=3)

TypeError: add() got an unexpected keyword argument 'num1'

In [1]:
"""
2.Question 2
Fill in the blanks to make the factorial function return the factorial of n. 
Then, print the first 10 factorials (from 0 to 9) with the corresponding number. 
Remember that the factorial of a number is defined as the product of an integer and all integers before it. For example, 
the factorial of five (5!) is equal to 1*2*3*4*5=120. Also recall that the factorial of zero (0!) is equal to 1.
"""
def factorial(n):
    result = 1
    for x in range(1,n+1):
        result = result * x
    return result

for n in range(0,10):
    print(n, factorial(n+0))

0 1
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880

In [2]:
"""
3.Question 3
Write a script that prints the first 10 cube numbers (x**3), starting with x=1 and ending with x=10.
"""
for x in range(1,11):
  print(x**3)

1
8
27
64
125
216
343
512
729
1000

In [3]:
"""
4.Question 4
Write a script that prints the multiples of 7 between 0 and 100. 
Print one multiple per line and avoid printing any numbers that aren't multiples of 7. 
Remember that 0 is also a multiple of 7.
"""

for num in range(0,100):
  if(num % 7==0):
    print(num)
  else:
    num= num + 1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [13]:
def retry(operation, attempts):
    for n in range(attempts):
        if operation():
            print("Attempt " + str(n) + " succeeded")
            break
        else:
            print("Attempt " + str(n) + " failed")

retry(create_user, 3)
retry(stop_service, 5)

NameError: name 'create_user' is not defined

In [ ]:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = list(text)
  for word in words:
    # Create the pig latin word and add it to the list
    ___
    # Turn the list back into a phrase
  return ___
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

In [ ]:
#convert list to string
def group_list(group, users):
  members = ' "'+group+": " +  ' '.join(users)+' "'
  return members

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

In [21]:
def guest_list(guests):
    for guest in guests:
        print("{name} is  {age} years old and works as {designation}".format(name=guest[0],age=guest[1], designation=guest[2]))
 

  

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is  30 years old and works as Chef
Pat is  35 years old and works as Lawyer
Amanda is  25 years old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'

In [22]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
# using as many lines of code as your chosen method requires.
filenames = [i.replace(".hpp",".h") for i in filenames] 

print(filenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"]

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [ ]:
def group_list(group, users):
  
    return "{}: ".format(group) + ','.join(users)

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

In [24]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
  new_list = list2
  for i in reversed(range(len(list1))):
    new_list.append(list1[i])
  return new_list

Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

In [25]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")

In [26]:
colors

['red', 'white', 'yellow', 'blue']