In [9]:
#6 friends
# 6 cities
#disttnace
friends=["raza","ali","fahad","hassan","ahsan","tauqeer"]
cities=["karachi","hyderabad","shikarpor","lahore","islamabad","peshawar"]
distances=[1,3,5,8,10,12]



# friends=input("Enter the name ")
# loc=friends.index(friends)
# city=cities[loc]
# distance=distances[loc]
# print("Friends :",friends,"city :",city,"relationsihps:",distance)


for num,detail in enumerate(friends):
    print("Friend :",num,friends[num],"city : ",cities[num],"distances: ",distances[num])
    

# names=['arif','kamran','samran','asad','imran','sameer','nasir','rafeeq','rasheed','fareed']
# print("\nName List For Finding Age And Marks :\n")
# for i, name in enumerate(names):
#     print(i+1,")",name)
    
    
# Student_name=input("\nEnter name from above list to find age and marks :  ")
# ##For location
# loc=names.index(Student_name)
# # print(loc)
# age=[15.6,16.7,15.8,14.9,16.0,15.1,15.2,14.3,15.4,15.5]
# loc1=age[loc]
# marks=[70,80,90,60,65,67,68,80,96,97]

# loc2=marks[loc]

# print("\n","The Student Name is ",Student_name,"\n","The Student Age is ", loc1 , "\n","The Students Marks",loc2)

Friend : 0 raza city :  karachi distances:  1
Friend : 1 ali city :  hyderabad distances:  3
Friend : 2 fahad city :  shikarpor distances:  5
Friend : 3 hassan city :  lahore distances:  8
Friend : 4 ahsan city :  islamabad distances:  10
Friend : 5 tauqeer city :  peshawar distances:  12

In [21]:
data=[["raza","karachi",1],["ali","hyderabad",3],["fahad","shikarpor",5],["hassan","lahore",8],["ahsan","islamabad",10],
      ["tauqeer","peshawar",12]]
# friends=["raza","ali","fahad","hassan","ahsan","tauqeer"]
# cities=["karachi","hyderabad","shikarpor","lahore","islamabad","peshawar"]
# distances=[1,3,5,8,10,12]

for num ,details in enumerate(data):
    print(num ,"Friend name :",data[num][0],"\n","City name :",data[num][1],"\n","Distances :",data[num][2],"\n")

for x in data:
    print(x)B

0 Friend name : raza
 City name : karachi
 Distances : 1

1 Friend name : ali
 City name : hyderabad
 Distances : 3

2 Friend name : fahad
 City name : shikarpor
 Distances : 5

3 Friend name : hassan
 City name : lahore
 Distances : 8

4 Friend name : ahsan
 City name : islamabad
 Distances : 10

5 Friend name : tauqeer
 City name : peshawar
 Distances : 12

In [4]:
data=[["raza","karachi",1],["ali","hyderabad",3],["fahad","shikarpor",5],["hassan","lahore",8],["ahsan","islamabad",10],
      ["tauqeer","peshawar",12]]
# friends=["raza","ali","fahad","hassan","ahsan","tauqeer"]
# cities=["karachi","hyderabad","shikarpor","lahore","islamabad","peshawar"]
# distances=[1,3,5,8,10,12]

# for num ,details in enumerate(data):
#     print(num ,"Friend name :",data[num][0],"\n","City name :",data[num][1],"\n","Distances :",data[num][2],"\n")

for x in data:
    print("Friend name :", x[0],"\n","City name :",x[1],"\n","Distances :", x[2],"\n")

Friend name : raza
 City name : karachi
 Distances : 1

Friend name : ali
 City name : hyderabad
 Distances : 3

Friend name : fahad
 City name : shikarpor
 Distances : 5

Friend name : hassan
 City name : lahore
 Distances : 8

Friend name : ahsan
 City name : islamabad
 Distances : 10

Friend name : tauqeer
 City name : peshawar
 Distances : 12

In [1]:
data=["Arif","Hyderabad",2,1,"Raza","shikarpor",5,0,"kamran","sukkar",5,0,"hamaza","Multan",8,10,"zameer","lahore",13,1,
      "imran","rawalpindi",21,2]

# sort the distance wise
dist=1
index=2

# for dataa in data :
if data[index] > dist:
    print("valid sorting")
    dist=data[2]
    index+=4    
else:
    print("Invalid sorting")

valid sorting

In [5]:
# temperay level email
#keywords 

"""
fiver learn 
python developer
python coding
python task

python assignment
python coding
python task

Title :

I will give you solution related to python program

being guru .com 7rangi formula

aws ,cloud

freelancer bot 
freelancer.com


bark 
leads dega (number)

for us client calling
textnow.com

calling script for website


content copy from upwork for fiverr



"""

'\nfiver learn \npython developer\npython coding\npython task\n\npython assignment\npython coding\npython task\n\nTitle :\n\nI will give you solution related to python program\n\nbeing guru .com 7rangi formula\n\naws ,cloud\n\nfreelancer bot \nfreelancer.com\n\n\nbark \nleads dega (number)\n\nfor us client calling\ntextnow.com\n\ncalling script for website\n\n\ncontent copy from upwork for fiverr\n\n\n\n'

In [6]:
#MySQL database (driver and connector)

In [ ]:
recepies={

    "recipy":{"name":"sindhi biryani", 

      
    "no of servings":4,
    "ingredents":{
        "oil":"500ml",
        "Rice":"2kg",
        "onion":"200g",
        "Beaf":"1.5kg",
        "Dhania":"50g",
        "podina":"250g",
    
    },
    "cooking_method":{"steps":["steps1","steps2","steps3","steps4","steps5","steps6","steps7","steps8","steps9","steps10"],
    

    },
    } ,
}

In [7]:
""" 
pap standard
"""

' \npap standard\n'

In [ ]:

"""
Assets 
Flippa.com

googleaddson
guestpost
hostinger afflilate marketing
big commerce
cloudbase/commerce

wordpress
qwlbold

ahrefs.com :
domain rating

DA PA 
DR above 70


jarwis for article writing
AI writing tool for article writing
"""

"""
upwork



freelancer

bootstrapstudio
github pack
"""