## 1. LIST
## 2. TUPLES

### 1. LIST

- List is like an array consist of group of element

In [1]:
khi_temp  = [10,20,21,30,32,28,29,"Pakistan"]   #A list consit of nos and string
print(khi_temp)

[10, 20, 21, 30, 32, 28, 29, 'Pakistan']

In [2]:
#want to print particular element from list
print(khi_temp[2])

21

In [3]:
#To find length of list we used len() function
print(len(khi_temp))

8

In [4]:
khi_temp[7] ="raza"
print(khi_temp)
##It will change the element from index 7

[10, 20, 21, 30, 32, 28, 29, 'raza']

In [5]:
##Add Element in list  we used append
khi_temp.append("Muhammad")
print(khi_temp)
##All add in last

[10, 20, 21, 30, 32, 28, 29, 'raza', 'Muhammad']

In [6]:
##Remove Element in list  we used remove function .
khi_temp.remove("Muhammad")
print(khi_temp)

[10, 20, 21, 30, 32, 28, 29, 'raza']

In [7]:
## if you want to add on particular index we used insert function
khi_temp.insert(0,"ALI")
print(khi_temp)

['ALI', 10, 20, 21, 30, 32, 28, 29, 'raza']

In [8]:
## if you want to get last element from list  we used pop() 
khi_temp=khi_temp.pop()
print(khi_temp)

raza

In [9]:
## if you want to particular element from list  we used pop() 
khi_temp=['ALI', 10, 20, 21, 30, 32, 28, 29, 'raza']
khi_temp1=khi_temp.pop(1)
print(khi_temp1)

10

In [10]:
khi_temp=['ALI', 10, 20, 21, 30, 32, 28, 29, 'raza']

In [4]:
l1=[1,8,4,3,15,20,25,89,65]       #l1 is a list
print(l1)

l1.reverse()
print(l1)

# sort function is used to sort the list
l1.sort()   # Ascending order
print(l1)      #l1 after sorting

# or
l1.sort(reverse=True)  # Descending order
print(l1)

[1, 8, 4, 3, 15, 20, 25, 89, 65]
[65, 89, 25, 20, 15, 3, 4, 8, 1]
[1, 3, 4, 8, 15, 20, 25, 65, 89]
[89, 65, 25, 20, 15, 8, 4, 3, 1]

# SLICING IN LIST

In [2]:
x = "String Demo"
# -11,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1
#  0,1,2,3,4,5,6,7,8,9,10,
#This string variable x contains a string containing 11 characters (including spaces).
#Since the index in a string starts from 0 to length-1, this string can be looked at as:

#Note: The indexes of a string begin from 0 to (length-1) in the forward direction and -1,-2,-3,â€¦, 
#-length in the backward direction. 
print(x[-1]) #exclude the value on -1

print(x[-11:])
print(x[::-1])

o
String Demo
omeD gnirtS

In [10]:
print(x[:11])

String Demo

In [3]:
x="amazing"
print(x[-7:-1])

amazin

In [3]:
##if i want the from index 0 to 3 
khi_temp=['ALI', 10, 20, 21, 30, 32, 28, 29, 'raza']
print(khi_temp[0:4])

['ALI', 10, 20, 21]

In [13]:
##if i want the from index 4 to last
#inclsive
print(khi_temp[4:])

[30, 32, 28, 29, 'raza']

In [14]:
##if i want the from index 0 to 3 
#exclusive
khi_temp[:4]

['ALI', 10, 20, 21]

In [31]:
#second last and last
khi_temp[-2:]

[29, 'raza']

In [32]:
#third last,second last and last
khi_temp[-3:]

[28, 29, 'raza']

In [16]:
#index base value delete we usee delete
# del khi_temp[0:2]
del khi_temp[0]
print(khi_temp)

[10, 20, 21, 30, 32, 28, 29, 'raza']

In [17]:
# del khi_temp[0:2]
del khi_temp[0:2]
print(khi_temp)

[21, 30, 32, 28, 29, 'raza']

In [18]:
##find max value in list 
khi_temp1=[10, 20, 21, 30, 32, 28, 29,110]
print(max(khi_temp1))

110

In [19]:
##find min value in list 
khi_temp1=[10, 3,8,9,20, 11,18, 21, 30, 32, 28, 29,110]
print(min(khi_temp1))

3

In [20]:
##find sort  the list (Arrange in ascending order)
khi_temp1= [10, 3,8,9,20, 11,18, 21, 30, 32, 28, 29,110]
khi_temp1.sort()
print(khi_temp1)

[3, 8, 9, 10, 11, 18, 20, 21, 28, 29, 30, 32, 110]

In [21]:
##For Converting String in to list we used list function
lst="AAABCADDE"
x=list(lst)
print(x)

['A', 'A', 'A', 'B', 'C', 'A', 'D', 'D', 'E']

In [22]:
# list1=x[0:3]
list1=x[:3]
print(list1)

['A', 'A', 'A']

In [23]:
list2=x[3:6]
 
print(list2)

['B', 'C', 'A']

In [24]:
# list3=x[6:9]
list3=x[6:]
print(list3)

['D', 'D', 'E']

In [25]:

list4=x[:5]
print(list4)

['A', 'A', 'A', 'B', 'C']

In [26]:
list5=x[5:]
print(list5)

['A', 'D', 'D', 'E']

### 2. TUPLES 
- tuples->toople (Element are fixed not change )

In [27]:
#TUPLES -->toople (Element are fixed not change )
x=[1,2,3] 

#change to tuple
y=tuple(x)

#change tupple to list
x=list(y)


print(y)
print(x)

(1, 2, 3)
[1, 2, 3]

In [28]:
##tuples is a list but we write in () round bracket
tp=('Raza',"ALi",1,2)
print(tp)

('Raza', 'ALi', 1, 2)

In [29]:
tp[1]=5
print(tp)

TypeError: 'tuple' object does not support item assignment

# Changing Case

In [5]:

name="Muhammad Mudassir Raza"
study="doing bachelor in computer science"
print(name.lower())
print(study.lower())

print(name.upper())
print(study.upper())

print(name.title())
print(study.title())

print(name.capitalize())
print(study.capitalize())

muhammad mudassir raza
doing bachelor in computer science
MUHAMMAD MUDASSIR RAZA
DOING BACHELOR IN COMPUTER SCIENCE
Muhammad Mudassir Raza
Doing Bachelor In Computer Science
Muhammad mudassir raza
Doing bachelor in computer science