# Functions

### Functions is like block of code through this we can do same thing many  time without typing code again and again

In [1]:
a=1
b=3
c=a+b
print(c)

4

In [2]:
#now we do with function
def sum():
    a=1
    b=3
    c=a+b
    print(c)
sum()  
sum()

4
4

In [3]:
def sum(a,b):  #parameters
     
    c=a+b
    print(c)
sum(22,33)  #positon arguments
sum(2,3)

55
5

In [4]:
a=float(input("Enter the first number: " ))
b=float(input("\n"+"Enter the second number :"))

def cal(a,b):
    c=a+b
    print("\n","Sum of a + b  is : ",c,"\n")
    d=a-b
    print("Substract of a - b  is : ",d,"\n")
    e=a*b
    print("Multiplication  of a * b  is : ",e,"\n")
    f=a/b
    print("Division of a / b  is : ",f,"\n")
    g=a%b
    print("Modulus of a % b  is : ",g,"\n")
cal(a,b)

Enter the first number: 3

Enter the second number :33

 Sum of a + b  is :  36.0

Substract of a - b  is :  -30.0

Multiplication  of a * b  is :  99.0

Division of a / b  is :  0.09090909090909091

Modulus of a % b  is :  3.0

In [5]:
def addition(a,b):
    sum=a+b
    print(sum)
addition(a=5,b=34)

39

In [6]:
firstnum = 2  
secondnum =3 
#agr data phela sa diya ho to ap parameters change bhi krsakta hai
def addnum(num1,num2):  #parameters
    result =num1+num2
    print(result)
addnum(firstnum,secondnum)

5

In [7]:
firstnum = 2  
secondnum =3 
#agr data phela sa diya ho to ap parameters change bhi krsakta hai
def addnum(eight,ten):    #parameters
    result = eight +ten
    print(result)
addnum(firstnum,secondnum)

5

In [8]:
firstnum =8 
secondnum =4
def addnum(secondnum,firstnum):
    result =firstnum-secondnum  #firstnum=4 ,secondnum=8
    print(result)
addnum(firstnum,secondnum)

-4

In [9]:
firstnum =8 
secondnum =4
def addnum(eight,four):
    result =eight-four
    print(result)
addnum(firstnum,secondnum)

4

In [10]:
firstnum =8 
def addnum(eight,four=4):
    result =eight-four
    print(result)
addnum(firstnum)

4

In [11]:
 
def add(num1,num2):
    total=num1+num2
    print(total)
    
add(num1=2,num2=3)

5

In [12]:
#  jb data or parameters same na ho to parameters and arguments same rakha ga
def add(num1,num2):
    total=a+b
    print(total)
    
add(num1=2,num2=3)

36.0

In [13]:
firstnum =8 
def addnum(eight,four=4):
    result =eight-four
    print(result)
addnum(firstnum)

4

In [14]:
 
def addnum(firstnum,four=4):
    result = firstnum -four
    print(result)
addnum(firstnum=8)

4

In [15]:
firstnum=8
def addnum(ten , four=4):
    result = ten + four
    print(result)
addnum(firstnum)

12

In [16]:
#we also pass more than one parameters
def sum(a,b,c,d):   
    e=a+b+c+d
    print(e)
sum(22,33,4,2)

61

In [17]:
name=input("Enter your name : ")
def greeting(name):
    print("Hello",name)
greeting(name.upper())

Enter your name :
Hello

In [18]:
name=input("Enter your name : ")
def greeting(name):
    greet="Good Morning"
    print( greet,name)
greeting(name.capitalize())

Enter your name : raza
Good Morning Raza

In [19]:
name=input("Enter your name : ")
greet="Good Morning"
def greeting(greet,name):
    
    print( greet,name)
greeting(greet,name.title())

Enter your name : raza
Good Morning Raza

In [20]:
name=input("Enter your name : ")
greet="Good Morning"
def greeting(greet,name):
    gree=greet +" "+name      
    print(gree.lower())
greeting(greet,name)

Enter your name : eza
good morning eza

In [21]:
greeting = "Hello Pakistan \n"
entering = "welcome \n"
season = "summer\n"
temperature = "hot\n" 
def user(a,b,c,d):#parameter
    print(a,b,c,d)

user(greeting,entering,season,temperature)#Arguments

Hello Pakistan
 welcome
 summer
 hot

In [22]:
a=6
b=4
c=4
d=6
def addition(a,b,c,d):
    sum=a+b+c+d
    print(sum)
addition(a,b,c,d)
20

20

20

In [23]:
a=6
b=4
c=4
d=6
def addition(r,g,f,t):
    sum=r+g+f+t
    print(sum)
addition(a,b,c,d)

20

In [24]:
greeting = "Hello Pakistan \n"
entering = "welcome \n"
season = "summer\n"
temperature = "hot\n"
def user(greeting,entering,season,temperature):
    print(greeting,entering,season,temperature)
user(greeting,entering,season,temperature)

Hello Pakistan
 welcome
 summer
 hot

In [25]:
def user(a,b,c,d):
    print(a,b,c,d)
    
greeting = "Hello Pakistan \n"
entering = "welcome \n"
season = "summer\n"
temperature = "hot\n"    
user(greeting,entering,season,temperature)

Hello Pakistan
 welcome
 summer
 hot

In [26]:
husband_name=input("Enter husband name")
wife_name=input("Enter wife name")
def couple(husband_name,wife_name):
    print(husband_name," and ",wife_name, "are husband and wife") 
couple(husband_name.upper(),wife_name.upper()) 

# dono parameters ka lia value dena zarori ha

Enter husband nameraza
Enter wife namezehra
RAZA  and  ZEHRA are husband and wife

In [27]:
# husband_name=input("Enter husband name")
# wife_name=input("Enter wife name")
# def couple(husband_name,wife_name):
#     print(husband_name," and ",wife_name, "are husband and wife") 
# couple(wife_name.upper(),husband_name.upper()) 

# # dono parameters ka lia value dena zarori ha

In [28]:
firstname=input("Enter the first name : ").upper()
middlename=input("Enter the middle name  : ").upper()
lastname=input("Enter the last name  : ").upper()

def fullname(firstname,middlename,lastname):
    print("Your full name is : "+firstname+" "+middlename+" "+lastname+" ")
    
fullname(firstname,middlename,lastname)

Enter the first name : muhammad
Enter the middle name  : mudassir
Enter the last name  : raza
Your full name is : MUHAMMAD  MUDASSIR RAZA

In [32]:
def username(lastname,firstname,):
    fullname=firstname+lastname
    print(fullname)
username(firstname='mudassir',lastname='raza')

mudassirraza

In [33]:
def username(lastname,firstname,):
    fullname=lastname+firstname
    print(fullname)
username(firstname='mudassir',lastname='raza')

razamudassir

In [34]:
institute="SMITH"
def course(institute,language="python programming",duration): #manditary parameters must comes in last
    print(institute+"  "+language+"  "+duration)
course(institute,language,duration="3 months")

SyntaxError: non-default argument follows default argument (3226605616.py, line 2)

In [35]:
#default parameter value always comes in last
institute="SMITH"
def course(institute,duration,language="python programming"): #manditary parameters must comes in last
    print(institute+"  "+language+"  "+duration)
course(institute,duration="3 months")

SMITH  python programming  3 months

In [36]:
   def calc_tax(sales_total, tax_rate):
        print(sales_total * tax_rate)
calc_tax(sales_total=101.37, tax_rate=.04)

4.0548

In [37]:
   def calc_tax(sales_total, tax_rate=.04):
        print(sales_total * tax_rate)
calc_tax(sales_total=101.37)
calc_tax(101.37)
calc_tax(sales_total=101.37,tax_rate=0.9)
calc_tax(101.37,0.10)

4.0548
4.0548
91.233
10.137

In [38]:
pronoun="MY name"
def personalinformation(pronoun,verb,name="mudassir"):
    print(pronoun+" "+verb+" "+name)
personalinformation(pronoun,verb="is")

MY name is mudassir

In [39]:
def personalinfo(name,fathername):
    print("My name is "+name+" and my fahter name is "+fathername)
personalinfo(name="MUHAMMAD MUDASSIR RAZA",fathername="ZAKIR RAZA")

My name is MUHAMMAD MUDASSIR RAZA and my fahter name is ZAKIR RAZA

In [40]:

questions={
  1:  { "sno" : 1,
      "question" : "What is your country name",
     "option" : ["Pakistan","UAE","USA","Africa"],
     "answer" : "Pakistan"
    } ,
        
 2:   { "sno" : 2,
      "question" : "What is your city name",
      "option" : ["Pakistan","UAE","USA","Africa","Karachi"],
      "answer" :  "Karachi"
     
    } ,
  3:  { "sno" : 3,
      "question" : "What is your subject name",
     "option" : ["Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" : "Computer Science"
    } 
 }
def find_something(dict,inner_dict,target):
    print(dict[inner_dict][target])
    
find_something(questions,3,"question")    
find_something(questions,3,"option")

What is your subject name
['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science']

In [41]:

questions={
  1:  { "sno" : 1,
      "name" : "raza",
      "question" : "What is your country name",
     "option" : ["Pakistan","UAE","USA","Africa"],
     "answer" : "Pakistan"
    } ,
        
 2:   { "sno" : 2,
       "name" : "ali",
      "question" : "What is your city name",
      "option" : ["Pakistan","UAE","USA","Africa","Karachi"],
      "answer" :  "Karachi"
     
    } ,
  3:  { "sno" : 3,
       "name" : "fahad",
      "question" : "What is your subject name",
     "option" : ["Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" : "Computer Science"
    } 
 }
def find_something(dict,inner_dict,target):
    print(dict[inner_dict][target])
    
find_something(questions,3,"name")    
find_something(questions,3,"option")

fahad
['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science']

In [42]:
#for insert/push more and many information(values) in a parameter we used * and loop
# one * show that the data comes in tuple

def detail(Class,section,*otherinfo):
    print("My class is "+Class+" and section is "+section) 
    for information in otherinfo:
        print(information)
    
detail("BSCS","A","Name : Mudassir","Fathername :Zakir","Email :raza@yahoo.com","City:Karachi","Country :Pakistan")

My class is BSCS and section is A
Name : Mudassir
Fathername :Zakir
Email :raza@yahoo.com
City:Karachi
Country :Pakistan

In [43]:
 #without loop information come in this way
# one * show that the data comes in tuple   

def detail(Class,section,*otherinfo):
    print("My class is "+Class+" and section is "+section)
    print(otherinfo)
detail("BSCS","A","Name :ALI","Fathername :RAZA","Email :ali@yahoo.com","City:Karachi","Country :Pakistan")

My class is BSCS and section is A
('Name :ALI', 'Fathername :RAZA', 'Email :ali@yahoo.com', 'City:Karachi', 'Country :Pakistan')

In [44]:
#for excess keys and  in parameter we use ** and in loop using .items for excess both keys snd values
# two ** show that the data comes in dictionary and you pass extra data in the form of key and value

def detail(Class,section,**otherinfo):
    print("My class is "+Class+" and section is "+section)
    print(otherinfo)
detail("BSCS","A",Name="ALI",Fathername ="RAZA",Email="ali@yahoo.com",City="Karachi",Country="Pakistan")

My class is BSCS and section is A
{'Name': 'ALI', 'Fathername': 'RAZA', 'Email': 'ali@yahoo.com', 'City': 'Karachi', 'Country': 'Pakistan'}

In [45]:
#for excess keys and  in parameter we use ** and in loop using .items for excess both keys snd values
# two ** show that the data comes in dictionary and you pass extra data in the form of key and value
def detail(Class,section,**otherinfo):
    print("My class is "+Class+" and section is "+section)
    for information in otherinfo:
        print(information)
detail("BSCS","A",Name="ALI",Fathername ="RAZA",Email="ali@yahoo.com",City="Karachi",Country="Pakistan")

My class is BSCS and section is A
Name
Fathername
Email
City
Country

In [46]:
def display_nums(first_num, second_num,*opt_nums):
    print(first_num)
    print(second_num)
    print(opt_nums)
    
display_nums(100, 200, 300, 400, 500)    
# data comes in list or tuple

100
200
(300, 400, 500)

In [47]:
def display_nums(basic_salary, house_rent,**other_benifits):
    print(basic_salary)
    print(house_rent)
    print(other_benifits)
    
display_nums(100, 200,bonus=300,overtime= 400,extra= 500)
display_nums(100, 200,bonus=300,overtime= 400,extra= 500)

100
200
{'bonus': 300, 'overtime': 400, 'extra': 500}
100
200
{'bonus': 300, 'overtime': 400, 'extra': 500}

In [48]:
def display_nums(basic_salary, house_rent,**other_benifits):
     return basic_salary
#     print(house_rent)
#     print(other_benifits)
    
display_nums(100, 200,bonus=300,overtime= 400,extra= 500)
# display_nums(100, 200,bonus=300,overtime= 400,extra= 500)

100

In [49]:
def display_nums(basic_salary, house_rent,**other_benifits):
     return (basic_salary,house_rent,other_benifits)
 
    
display_nums(100, 200,bonus=300,overtime= 400,extra= 500)
# display_nums(100, 200,bonus=300,overtime= 400,extra= 500)

(100, 200, {'bonus': 300, 'overtime': 400, 'extra': 500})

In [50]:
#for excess keys and  in parameter we use ** and in loop using .items for excess both keys snd values
def detail(Class,section,**otherinfo):
    print("My class is "+Class+" and section is "+section)
    for keys,values in otherinfo.items():
        print(keys+":"+values)
detail("BSCS","A",Name="ALI",Fathername ="RAZA",Email="ali@yahoo.com",City="Karachi",Country="Pakistan")

My class is BSCS and section is A
Name:ALI
Fathername:RAZA
Email:ali@yahoo.com
City:Karachi
Country:Pakistan

In [51]:
def detail(Class,section,**otherinfo):
    print("My class is "+Class+" and section is "+section)
    for a_key,b_values in otherinfo.items():
        print(a_key+":"+b_values)
detail("BSCS","A",Name="ALI",Fathername ="RAZA",Email="ali@yahoo.com",City="Karachi",Country="Pakistan")

My class is BSCS and section is A
Name:ALI
Fathername:RAZA
Email:ali@yahoo.com
City:Karachi
Country:Pakistan

In [52]:
def detail(Class,section,**otherinfo):
    print("My class is "+Class+" and section is "+section)
    for Forminformation,Detailinformation in otherinfo.items():
        print(Forminformation+":"+Detailinformation)
detail("BSCS","A",Name="ALI",Fathername ="RAZA",Email="ali@yahoo.com",City="Karachi",Country="Pakistan")

My class is BSCS and section is A
Name:ALI
Fathername:RAZA
Email:ali@yahoo.com
City:Karachi
Country:Pakistan

In [53]:
#if i want to print result out side of function so we used the keyword return jis ka through hum result ko bhr excess krsakta ha
def sumfunction():
    num1=3
    num2=12
    num3=7
    result = num1+num2+num3
    return result
return_result=sumfunction()
print(return_result)

22

In [54]:
def sumfunction():
    number1=89
    number2=87
    number3=65
    number4=76
    result=number1+number2+number3+number4
    return result#we use return here to excess the result outside of function
return_result=sumfunction()#This is necessary to save function result when call return outsde of function that why we call function in return variable.
print(return_result)

317

In [55]:
def sumfunction1():
    num1=3
    num2=12
    num3=7
    result = num1+num2+num3
    return result
return_result1=sumfunction1()
print("return_result1 :" ,return_result1 ,"\n")

def mulfunction2():
    num1=3
    num2=12
    num3=7
    result = num1*num2*num3
    return result
return_result2=mulfunction2()
print("return_result2 :" ,return_result2 ,"\n")
 
def subfunction3():
    num1=3
    num2=12
    num3=7
    result = num1-num2-num3
    return result
return_result3=subfunction3()
print("return_result3 :" ,return_result3 ,"\n")

def divfunction4():
    num1=3
    num2=12
    num3=7
    result = num1-num2-num3
    return result
return_result4=divfunction4()
print("return_result3 :" ,return_result4 ,"\n")

finalresult=return_result1+return_result2+return_result3+return_result4
print(finalresult)

return_result1 : 22

return_result2 : 252

return_result3 : -16

return_result3 : -16

242

In [56]:
def courseinfo():
    inst="SMITH"
    language="  PYTHON PROGRAMMING"
    duration=" 3 months"
    return(inst+""+language+""+duration)
#for multiple values return we used ()
def userinfo():
    name=input("What is your name :")
    result=name.upper()+" "+"is enrolled in"+" "+courseinfo() #for returnwe call function in variable
    return result
wholeinfo=userinfo()
print(wholeinfo)

What is your name :Mudassir
MUDASSIR is enrolled in SMITH  PYTHON PROGRAMMING 3 months

In [57]:
# call one function in to another
def course():
    inst="FUUAST"
    subject="COMPUTER SCIENCE"
    duration ="4 years"
    return(inst+" "+subject+" "+duration+" ")
def userinfo():
    name=input("what is your name  ")
    result = "\n"+name.upper()+" is enrolled in "+course()
    return result
wholeinfo=userinfo()
print(wholeinfo)

what is your name  mudassir

MUDASSIR is enrolled in FUUAST COMPUTER SCIENCE 4 years

In [58]:
def personalinfo():
    name="MUHAMMAD MUDASSIR RAZA"
    Class="  BSCS  "
    Section=" A"
    return("\n"+"name: "+name+"\n"+"Class: "+Class+"\n"+"Section: "+Section)
#for multiple values return we used ()
def detailinfo():
    CNIC="42201-5510139-1"
    Father_Name="  ZAKIR RAZA"
    Live_in=" KARACHI"
    return("CNIC :"+CNIC+"\n"+"Father Name"+Father_Name+"\n"+"City Name:"+Live_in+"\n")
#for multiple values return we used ()
def userinfo():
    University=input("What is your university name :  ")
    result="\n You are enrolled in "+University+personalinfo()+"\n "+detailinfo() #for returnwe call function in variable
    return result
wholeinfo=userinfo()
print(wholeinfo)

What is your university name :  FUUAST

 You are enrolled in FUUAST
name: MUHAMMAD MUDASSIR RAZA
Class:   BSCS
Section:  A
 CNIC :42201-5510139-1
Father Name  ZAKIR RAZA
City Name: KARACHI

In [59]:
def addnum():
    name ="Umair"
    return name
firstname=addnum()
fullname=(firstname+" "+"Aslam")
print(fullname)

Umair Aslam

In [60]:
def fullname(firstname ,middlename ,lastname):
    firstname;
    middlename;
    lastname;
    return(firstname +" "+middlename+" "+lastname)
full_name=fullname(firstname="MUHAMMAD",middlename="MUDASSIR",lastname="RAZA")
print(full_name)

MUHAMMAD MUDASSIR RAZA

In [61]:
def calc_tax(sales_total, tax_rate):
    print(sales_total * tax_rate)
calc_tax(sales_total=101.37, tax_rate=.05)

5.0685

In [62]:
 def calc_tax(sales_total, tax_rate=.04):
        print(sales_total * tax_rate)
calc_tax(sales_total=101.37)

4.0548

In [63]:
 def calc_tax(sales_total, tax_rate=.04):
        tax=sales_total * tax_rate
        return tax
        
sale_tax=calc_tax(sales_total=101.37)
print(sale_tax)

4.0548

In [64]:
def calc_tax(sales_total, tax_rate=.04):
        return(sales_total * tax_rate)
        
sale_tax=calc_tax(sales_total=101.37)
print(sale_tax)

4.0548

In [65]:
def give_greeting(greeting, first_name):
    print(greeting + ", " + first_name)
give_greeting("Hello there", first_name="Ali")

Hello there, Ali

In [66]:
def give_greeting(greeting, first_name,flattering_nickname=" the wonder boy"):
    print(greeting + ", " + first_name +flattering_nickname)
give_greeting("Hello there", first_name="Ali")

Hello there, Ali the wonder boy

In [67]:
def add_numbers(first_number, second_number):
    return first_number + second_number

def subtract_numbers(first_number, second_number):
    return first_number - second_number

result_of_adding = add_numbers(1, 2)

result_of_subtracting = subtract_numbers(3, 2)

sum_of_results = result_of_adding +result_of_subtracting

print(sum_of_results)

4

In [68]:
#local variable define within in function
def whatever():
    y = 23 
    print(y)
    y = 1
    print(y)
whatever()

23
1

In [69]:
#global variable define outside in function
y = 1
 
def whatever():
    
    print(y)
     
whatever()

1

In [70]:
def whatever():
    a = 1
whatever()

print(a)
# you cant access local variable outside the function

6

In [71]:
#functions within functions
def say_something():
    what_to_say = "Hi"
    return(what_to_say)
# now_say_it(say_something())
# print(now_say_it)
    
def now_say_it(content):
    print(content)
now_say_it(say_something())

Hi

In [72]:
def say_something():
    what_to_say = "Hi"
    return what_to_say
    
now_say_it(say_something())
    
    
def now_say_it(content):
    print(content)

Hi

In [74]:
def checkPrime(X):
    if X > 1:
        for i in range(2,int(X/2)+1):
            if(X % i)==0:
                print(X, " is not a prime number\n")
                print("The factors of", X, "are: ")
                for j in range(1, X+1):
                    if(X % j)==0:
                        print(j," ")
                break
            else:
                print(X, " is a prime number")
    else:
        print(X, " is 1 or less than one and it's not prime")

X=int(input("Enter a positive Number: "))
checkPrime(X)

Enter a positive Number: 1
1  is 1 or less than one and it's not prime

In [75]:
def prime(n): 
    isprime = True 
	if n<2: 
		isprime = False 
	else: 
		for i in range(2,n): 
			if n%i==0: 
				isprime = False 
				break 
	return isprime 
 
def factors(n): 
	fact,factlist = 2,[1] 
	for i in range(2,n): 
		if not n%i: 
			fact += 1 
			factlist.append(i) 
	factlist.append(n) 
	return (fact,factlist) 
 
n = int(input('Enter any number: ')) 
print('Prime number:',prime(n)) 
print('Number of factors:',factors(n)[0]) 
print('List of factors:',factors(n)[1])

TabError: inconsistent use of tabs and spaces in indentation (2220915833.py, line 3)

In [76]:
# First code the function call on line 12.
# Then come back and code the function starting on line 4.
# The function will take two or three lines, depending on how you approach it.
members = {
        "adults": ["Ditmar", "Salvador", "Punya"],
        "children": ["Caliban", "Eustis", "Ali"],
        }
def call(dict,inner_dict,target):
    
    print(dict)
    print(dict[inner_dict])
    print(dict[inner_dict][target])
# First code the function call on line 12.
call(members,"adults",1)

{'adults': ['Ditmar', 'Salvador', 'Punya'], 'children': ['Caliban', 'Eustis', 'Ali']}
['Ditmar', 'Salvador', 'Punya']
Salvador

In [77]:
#first argument is position argument, second argument is keyword argument
def add_numbers(2,second_number = 4):
    total = num1 + second_number
    print(total)    


add_numbers()

SyntaxError: invalid syntax (2296381262.py, line 2)

In [78]:

def add_numbers(first_number=2,second_number=4):
    total = first_number  + second_number
    print(total)   

add_numbers()

6

In [79]:
def calc(first_number, second_number):
    print(first_number,second_number)
calc(8,second_number = 10)

8 10

In [81]:
def area_of_square():
    length = float(input("Enter length of sqaure in meters"))
    breadth = float(input("Enter breadth of square in meters"))
    area = length * breadth
    print(f"Length: {length} \nBreadth {breadth}: \nArea: {area} meters square")
area_of_square()

Enter length of sqaure in meters2
Enter breadth of square in meters2
Length: 2.0
Breadth 2.0:
Area: 4.0 meters square

In [82]:
def square_of_a_number():
    num = float(input("Enter a number to square:"))
    square = num**2
    print(f"The sqaure of {num} is {square}")
square_of_a_number()

Enter a number to square:2
The sqaure of 2.0 is 4.0

In [83]:
# cleanest_cities = ["karachi", "lahore", "islamabad","peshawar", "quetta"]
# user_input = ""
# while user_input != "q":
#     user_input = input("Enter a city, or q toquit:")
#     if user_input != "q":
#         for a_clean_city in cleanest_cities:
#             if user_input == a_clean_city:
#                 print("It's one of the cleanest cities")
#                 break

In [ ]:
 #today list in python
elements=[]
i=1
while True :
    print("Elements in our list: ")
    for element in elements:
        print(i,")" ,element)
        i+=1
    print("\noptions:")
    print("1.Add Element")
    print("2.Delete Element")
    print("3.Delete All Element")
    print("4.Exit")
    print("\nNote: please give input in numbers e.g:1,2,3,4")
    inp=input("\nEnter your choice: ")
    if inp == '1':
        elements.append(input("\nEnter your element: "))
    elif inp == '2':
        elements.remove(input("\nEnter your element: "))
    elif inp == '2':
        elements.clear()
    elif inp == '4':
         break  
    else :
        print("Invalid Syntax")

In [ ]:
marks=89
print("Marks",marks)

In [ ]:
marks="89"
print("Marks :{}".format(marks))

In [ ]:
marks=89
print("Marks :{}".format(marks))

In [ ]:
def salary_increment(name='',eos=0,currentSalary=0): # parameters
    '''This function is defined in our class of SMIT
     on 26th Jan 2022
     this function needs 3 arguments the name of emp 
     year of service
     current salary of the employe
     this will return Salary Details '''
    
    if eos >=1:
        
        if currentSalary <50000:
            increment = currentSalary*.20
            newSalary = currentSalary + increment
            
        elif ((currentSalary>=50000) and (currentSalary<100000)):
            increment = currentSalary*.15
            newSalary = currentSalary + increment
            
        elif ((currentSalary>=100000) and (currentSalary<=150000)):
            increment = currentSalary*.10
            newSalary = currentSalary + increment
        else:
            increment = currentSalary*.05
            newSalary = currentSalary + increment
        print(f"""
                    Name of Employee: {name}
                    Year of Service : {eos}
                    Current Salary  : {currentSalary}
                    Increment Amount: {increment}
                    New Salary      : {newSalary }""")
            
    else:
        print("There is no increment for you this year")
    
salary_increment("Nasir", 2, 120000)# arguments

In [ ]:
salary_increment("Nasir", 2, 120000)# arguments

The variables written in function definition are called parameters

The Values supplied during a function call are called arguments

In [ ]:
salary_increment(eos=2, name="Fahad",currentSalary=36000)# keyword arguments

In [ ]:
salary_increment('Danish')

In [ ]:
salary_increment("Rehan", 5)

In [ ]:
salary_increment(5,60000)

In [ ]:
name= input("Enter employee name")
eos = float(input("Enter number of years in service"))
current_salary = float(input("Enter current salary of the empployee"))


salary_increment(name, eos, current_salary)

In [ ]:
help(salary_increment)

In [ ]:
help(len)

In [ ]:
 def describe_pet(animal_type, pet_name):
    """Display information about a pet."""
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name.title() + ".")

In [ ]:
describe_pet('hamster', 'harry')

# Return Values

Gobal Variable: Can be accessed in and out of function

Local Variable: local variables are defined and accessed only inside the function

In [ ]:
a  = 100   # gloabl variable

def square_of_a_number(num):
    
    square = num**2   # local variable
    print(f"The sqaure of {num} is {square} which is a local variable")
    print(f"The value of global variable a is {a}")

In [ ]:
square_of_a_number(7)

In [ ]:
print(square)

In [ ]:
def circumference(radius):
    circumference  = 2 * 3.142 * radius 
    # ksi local variable ki value ko function se bahar access karne k liye
    # return k through bahar nikalenge
    return circumference

In [ ]:
value_of_cir = circumference(4.5)

In [ ]:
value_of_cir

In [ ]:
def square_of_a_number(num):
    
    square = num**2# local variable
    print("I am code written after return")
    return square, f"I am sqaured of {num}"

In [ ]:
returned_values = square_of_a_number(6)
#tuple

In [ ]:
a,b = returned_values
print(a)
print(b)

In [ ]:
def build_person(first_name, last_name):
    """Return a dictionary of information about a person."""
    person = {'first': first_name, 'last': last_name}
    return person

In [ ]:
musician = build_person('ali', 'raza')
print(musician)

In [ ]:
def build_person(first_name, last_name, age=''):
    person = {'first': first_name, 'last': last_name}
    if age:
        person['age'] = age
    return person

In [ ]:
musician = build_person('ali', 'raza',age=27)
print(musician)

In [ ]:
musician = build_person('ali', 'raza')
print(musician)

In [ ]:
def get_formatted_name(first_name, last_name):    
    full_name = first_name + ' ' + last_name
    return full_name.title()

# Passing a List

In [ ]:
def my_sum(alist):
    total=sum(alist)
    return total

In [ ]:
my_sum([1,2,3,4,5,6,7,8,9,10])

In [ ]:
def greet_users(names):
    for name in names:
        msg = "Hello, " + name.title() + "!"
        print(msg)

In [ ]:
usernames = ['hannah', 'ty', 'margot']
greet_users(usernames)

# Modifying a List in a Function

In [ ]:
unprinted_designs = ['iphone case', 'robot pendant', 'dodecahedron']
completed_models = []

In [ ]:
while unprinted_designs:
    current_design = unprinted_designs.pop()
    
    print("Printing model: " + current_design)
    completed_models.append(current_design)

In [ ]:
# Display all completed models.
print("\nThe following models have been printed:")
for completed_model in completed_models:
    print(completed_model)

# Passing an Arbitrary Number of Arguments

In [ ]:
def addfunction(a="",b="",c="",d="",e="",f=""):
    print(a,b,c,d,e,f)

In [ ]:
addfunction("A","B","C","D","E","Q")

In [ ]:
addfunction()

In [ ]:
addfunction(111,222,333,444,555,666,777)

In [ ]:
addfunction(111,222,333,444,555,666)

In [ ]:
def make_pizza(*toppings):
    print("\nMaking a pizza with the following toppings:")
    for topping in toppings:
        print("- " + topping)

In [ ]:
make_pizza('mushrooms', 'green peppers', 'extra cheese')

In [ ]:
a = (12,)

In [ ]:
a

In [ ]:
def make_pizza(size, *toppings):
    print("\nMaking a " + str(size) +"-inch pizza with the following toppings:")
    for topping in toppings:
         print("- " + topping)

make_pizza(16, 'pepperoni')
make_pizza(12, 'mushrooms', 'green peppers', 'extra cheese')

In [ ]:
len("")

In [ ]:
a = 120
def local_global():
    
    global a
    a = 10
    print(a)

In [ ]:
local_global()

In [ ]:
a

In [ ]:
.
# assignment :create a program that will all a funnction to generate KE billings details on the basis of given input units
#  The funtion will only call other functions for any processing and only print  return values from calling functions   
#KE Teriff  unit forr july 2022

In [ ]:
    
def electricity(monthly_units):
    
    charges=0
    if monthly_units > 0 and monthly_units <=100:
        charges=monthly_units * 9.43
    elif monthly_units >100 and monthly_units <=200:
        charges=monthly_units * 10.29
    elif monthly_units >200 and monthly_units <=300:
        charges=monthly_units * 12.55
    elif monthly_units >300 and monthly_units <=400:
        charges=monthly_units * 17.38    
    elif monthly_units >400 and monthly_units <=500:
        charges=monthly_units * 18.84
        
    elif monthly_units >500 and monthly_units <=600:
        charges=monthly_units * 19.76  
    elif monthly_units >600 and monthly_units <=700:
        charges=monthly_units * 20.40     
        
        
    else: #invalid values given
        charges=-1
        
        
        
    
    return charges



def  uniform(monthly_units):
    
    charges=0
    if monthly_units > 0 and monthly_units <=100:
        charges=monthly_units * 5.79
    elif monthly_units >100 and monthly_units <=200:
        charges=monthly_units * 8.11
    elif monthly_units >200 and monthly_units <=300:
        charges=monthly_units * 10.20
    elif monthly_units >300 and monthly_units <=700:
        charges=monthly_units * 19.25   
          
        
    else: #invalid values given
        charges=-1
        
        
        
    
    return charges



# monthly_units=525

def bill_main(monthly_units):
    electric_charges=electricity(monthly_units)
    print("Electirc charges for ",monthly_units,"=",electric_charges)
    
    uniform_charges=uniform(monthly_units)
    print("eletric charge for ",monthly_units,"=",uniform_charges)
    
#     fuel_charges=fuel(monthly_units)
#     print("eletric charge for ",monthly_units,"=",fuel_charges)
    
#     sales_tax=sales_tax(monthly_units)
#     print("eletric charge for ",monthly_units,"=",sales_tax)
    
#     advance_tax=advance_tax(monthly_units)
#     print("eletric charge for ",monthly_units,"=",advance_tax)
    
#     tv_fee=tv_fee(monthly_units)
#     print("eletric charge for ",monthly_units,"=",tv_fee)
    
    
#     total=total(electric_charges,uniform_charges,fuel_charges,sales_tax,advance_tax,tv_fee)
#      print("eletric charge for ",monthly_units,"=",total)
    

bill_main(monthly_units =525 )
bill_main(112)
bill_main(349)
bill_main(700)
bill_main(-22)
bill_main( 450)
bill_main( 116)



 
    
# Ans :  10374.0

In [ ]:
# Exercise 2 - Faulty Calculator
# 45 * 3 = 555, 56+9 = 77, 56/6 = 4
# Design a calculator which will correctly solve all the problems except
# the following ones:
# 45 * 3 = 555, 56+9 = 77, 56/6 = 4
# Your program should take operator  and the two numbers as input from the user
# and then return the result
#

print("Enter 1st Number")
num1 = int(input())
print('Enter 2nd Number')
num2 = int(input())
print('so What you Want?'+'+,-,/,%,*')
num3 =input()

if num1 ==45 and num2==3 and num3=='*':
    print("555")
elif num1 == 56 and num2 == 9 and num3 == '+':
        print("77")
elif num1 == 56 and num2 == 6 and num3 == '/':
        print("4")
elif num3=='*' :
    num4=num1*num2
    print(num4)
elif num3 == '+':
    plus=num2+num1
    print(plus)
elif num3 == '/':
    Dev=num2/num1
    print(Dev)
elif num3 == '-':
    Dev=num2-num1
    print(Dev)
elif num3 == '%':
    percent=num2%num1
    print(percent)
else:
    print("Error! Please check your input")

In [ ]:

def function2(a, b):
    """This is a function which will calculate average of two numbers
    this function doesnt work for three numbers"""
    average = (a+b)/2
    # print(average)
    return average

# v = function2(5, 7)
# print(v)
print(function2.__doc__)

In [2]:
def squares(start, end):
	return [(x*x) for x in range(start,end+1)]

print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

###

In [3]:
from copy import deepcopy

def combine_guests(guests1, guests2):
    backup = deepcopy(guests1)
    guests1.update(guests2)
    for guest in guests1:
        if guest in backup:
            guests1[guest] = backup[guest]
    return guests1

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'Adam': 2, 'Brenda': 3, 'David': 1, 'Jose': 3, 'Charlotte': 2, 'Terry': 1, 'Robert': 4, 'Nancy': 1, 'Samantha': 3, 'Chris': 5}

In [4]:

def count_letters(text):
    elements = text.replace(" ","").lower()
    result = {}
    for letter in elements:
        if letter.isalpha():            
            if letter not in result:
                result[letter] = 1
            else:
                result[letter] +=1
    return result        
print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

In [5]:
animal = "Hippopotamus"
print(animal[3:6])
print(animal[-5])
print(animal[10:])

pop
t
us

In [6]:
host_addresses = {"router": "192.168.1.1", "localhost": "127.0.0.1", "google": "8.8.8.8"}
host_addresses.keys()

dict_keys(['router', 'localhost', 'google'])

In [1]:
def group_list(group, users):
  
    return "{}: ".format(group) + ','.join(users)

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike,Karen,Jake,Tasha
Engineering: Kim,Jay,Tom
Users:

In [2]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
    new_list = list2
    for i in reversed(range(len(list1))):
        new_list.append(list1[i])
    return new_list

Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

In [3]:
result=combine_lists(Jamies_list,Drews_list)

In [4]:
print(result)

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

In [ ]:
# def retry(operation, attempts):
#     for n in range(attempts):
#         if operation():
#             print("Attempt " + str(n) + " succeeded")
#             break
#         else:
#             print("Attempt " + str(n) + " failed")

# retry("create_user", 3)
# retry("stop_service", 5)

In [7]:
def guest_list(guests):
    for guest in guests:
        print("{name} is  {age} years old and works as {designation}".format(name=guest[0],age=guest[1], designation=guest[2]))
 

  



#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'

In [6]:
guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

Ken is  30 years old and works as Chef
Pat is  35 years old and works as Lawyer
Amanda is  25 years old and works as Engineer

In [8]:
#convert list to string
def group_list(group, users):
    members = ' "'+group+": " +  ' '.join(users)+' "'
    return members

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

 "Marketing: Mike Karen Jake Tasha "
 "Engineering: Kim Jay Tom "
 "Users:  "