In [ ]:
print() , Declearation Variables For String And Numbers ,Comments ,Airthematic operators , inpuut taking,type of variables

# print()

In [1]:
print("MUHAMMAD MUDASSIR RAZA")
print(2+3)

MUHAMMAD MUDASSIR RAZA
5

In [2]:
Print('hi')

NameError: name 'Print' is not defined

# Variables For String And Numbers

In [3]:
name = input("enter your name")
print(name)

enter your nameRaza
Raza

In [4]:
age= 10
print(age)

10

In [5]:
age += 10 #age = age + 10
print (age)

20

In [6]:
greeting = "Hello"
country="Pakitan"
greet_country=greeting + " " + country
print(greet_country)

Hello Pakitan

In [7]:
nationality = input ("Are you Pakistani")
age =int(input(" enter your age"))
if nationality == "y" and age >=18 :
    print("you can cast the vote")

else:
    print("You are not elegible for vote")

Are you Pakistaniy
 enter your age21
you can cast the vote

In [8]:
a=23
b=7
print(a+b)

30

In [9]:
a=23
print(a+27)

#OR
a=23
c=a+27
print(c)

50
50

In [10]:
a="2"
b=3
print(a+b)
##TypeError:can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [11]:
a="2"
b="3"
print(a+b)
##can only concatenate str
# cant be (* or / or -)

23

In [12]:
a="2"
b=3
print(a *b)
##IT print string 3 times
# cant be (+ or / or -)

222


# AIRTHEMATICS OPERATORS

In [13]:
##OPERATORS (+ ,- ,% ,* ,/,// ,**)
  
print(2)
print(9-2)
print(9/2)   #for value in points
print(9%2)
print(9//2) #for value in whole number
print(2+3)
print(2**3)  #for power

2
7
4.5
1
4
5
8

In [14]:
print(3**2/2*3/3+6-4)
#PEMDAS
#PARENTHESIS EXPONENTS MULTIPLY DIVIDE ADDITION SUBTRACTION
#LEFT TO RIGHT SEQUENCE

6.5

In [15]:
##STRINGS
print('hello world')
print("I love you Pakistan")
print('''KARACHI THE CITY OF LIGHT ''')

hello world
I love you Pakistan
KARACHI THE CITY OF LIGHT

In [16]:
print(" What's up")

 What's up

In [17]:
print("pterol price: " + str(234))

pterol price: 234

In [18]:
##COMMENTS
# print('hello world') 
#single line comments

''' print('hello world')
 print('hello world')       #multi line comments
  print('hello world')

'''

" print('hello world')\n print('hello world')       #multi line comments\n  print('hello world')\n\n"

In [19]:
##variables : objects having specific value

a=2*3
b=9-2
c=9/2  #for value in points
d=9%2
e=9//2   #for value in whole number
f=2+3
g=2**3   #for power
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

6
7
4.5
1
4
5
8

In [20]:
name ="MUHAMMAD MUDASSIR RAZA"
print(name)

MUHAMMAD MUDASSIR RAZA

# Class/types of variable

In [21]:
num1 = 22.0
print(type(num1))
print(type(num1))
print(num1)

<class 'float'>
<class 'float'>
22.0

In [22]:
print(num1 + 56)
print(num1 * 56)
print(num1 - 56)
print(num1 / 56)

78.0
1232.0
-34.0
0.39285714285714285

In [23]:
age = 10
print(age)

10

In [24]:
age += 10 # age = age + 10
print(age)

20

In [25]:
#we cant do this
# age -= 10
# age *= 2
# age /= 3

In [26]:
x=5
y=" raza"
type(x)
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [27]:
#print_types_class

#Rules assign variables
#1- The variable should contain letters , numbers and underscores
#2- Do not start with numbers
#3-Spaces are not allowed
#4-Donot used keywords used in functions (break,mean ,media ,test etc .)
#5-Short and descriptive variable name
#6-Case Sentivity (lowercase ,uppercase letters   lower case should be used .)

# CONCATENATION OF STRING

In [28]:

greeting = "Hello"
country = "Pakistan"

greet_country = greeting + " " + country
print(greet_country)
print(type(greet_country))

Hello Pakistan
<class 'str'>

In [29]:
name ="MUDASSIR"
print("Have a nice day ",name)

Have a nice day  MUDASSIR

# Input Variables

In [30]:

name=input(" What is your name ?" + "\n")
age=int(input(" What is your age ?" + "\n"))
city=input(" What is city name ?" + "\n")
Country=input("What is country name ?" + "\n")
print( "YOUR GOOD NAME IS " + name + "\n" + "Your age is " + str(age) + "\n"  + "YOUR CITY NAME IS "+ city +"\n" +  "YOUR COUNTRY NAME IS "+ Country)

 What is your name ?
MUHAMMAD MUDASSIR RAZA
 What is your age ?
21
 What is city name ?
KARACHI
What is country name ?
PAKISTAN
YOUR GOOD NAME IS MUHAMMAD MUDASSIR RAZA
Your age is 21
YOUR CITY NAME IS KARACHI
YOUR COUNTRY NAME IS PAKISTAN

In [31]:
#INPUT TWO NUMBERS AND PERFORM OPERATIONS
NUM1=int(input("Enter The First Number" +"\n"))
NUM2=int(input("Enter The Second Number" +"\n"))
print("The Addition of NUM1 And NUM2 is : "+ str( NUM1 + NUM2 ) + "\n")
print("The Multiplication of NUM1 And NUM2 is : "+ str(NUM1 * NUM2 ) +"\n")
print("The Addition of NUM1 And NUM2 is : "+ str( NUM1 + NUM2 ) +"\n")
print("The Substraction of NUM1 And NUM2 is : "+ str( NUM1 - NUM2 ) +"\n")
print("The Division of NUM1 And NUM2 is : "+ str( NUM1 / NUM2 ) +"\n")
print("The Reminder of NUM1 And NUM2 is : "+ str( NUM1 % NUM2 ) +"\n")

Enter The First Number
33
Enter The Second Number
14
The Addition of NUM1 And NUM2 is : 47

The Multiplication of NUM1 And NUM2 is : 462

The Addition of NUM1 And NUM2 is : 47

The Substraction of NUM1 And NUM2 is : 19

The Division of NUM1 And NUM2 is : 2.357142857142857

The Reminder of NUM1 And NUM2 is : 5

In [32]:
##TYPE CONVERSION
x=10 #int
y=20.2 #Float
z="Raza" #str

#implict type conversion
Y=x*y
print(Y,"Type of Y is : ", type(Y))

Y=y*x
print(Y,"Type of Y is : ", type(Y))

202.0 Type of Y is :  <class 'float'>
202.0 Type of Y is :  <class 'float'>

In [33]:
##Explict type conversion
age_your=input("Enter your age")
print("Your age is :",age_your," \n","Data type for age is integer ",type(int(age_your)))

Enter your age21
Your age is : 21
 Data type for age is integer  <class 'int'>

In [34]:
age_your=input("Enter your age")
print("Your age is :",age_your," \n","Data type for age is float ",type(float(age_your)))

Enter your age21
Your age is : 21
 Data type for age is float  <class 'float'>

In [35]:
name=input("Enter your name")
print(name ,type(str(name)))

Enter your nameRAZA
RAZA <class 'str'>

In [36]:
name=input("Enter your name")
print(name ,type(int(name)))

Enter your nameRAZA

ValueError: invalid literal for int() with base 10: 'RAZA'

In [37]:
name=input("Enter your name")
print(name ,type(int(name)))

Enter your name21
21 <class 'int'>