# Dictionaries

## Dictionaries : dictionary works something like a list, but instead of a simple series of
## things, a dictionary is a series of pairs of things. Each pair contains a key—"first name", "last name" etc.—and a value—"David", "Elliott", etc. To pick something out of a dictionary, you specify a particular key and ask  what value is paired with it.

### method means part of variable
## function means indepent of variable

In [1]:
customer={
    "first_name" :"Muhammad",
    "middle_name" :"Mudassir",
    "last_name" :"Raza",
    "address" : "A-128 New Rizvia Society",
    "number" : "03122512472",
    1  : "love"
}
print(customer)
print(customer["first_name"])
print(customer["middle_name"])
print(customer["last_name"])
print(customer["address"])
print(customer["number"])
print(customer[1])

{'first_name': 'Muhammad', 'middle_name': 'Mudassir', 'last_name': 'Raza', 'address': 'A-128 New Rizvia Society', 'number': '03122512472', 1: 'love'}
Muhammad
Mudassir
Raza
A-128 New Rizvia Society
03122512472
love

In [2]:
Cities_ranking={
    1: "Karachi",
    2:"Lahore",
    3: "Islamabad"
    
}
print(Cities_ranking[1])

Karachi

## Adding New items in dictionary

In [3]:


customer={
    "first_name" :"Muhammad",
    "middle_name" :"Mudassir",
    "last_name" :"Raza",
    "address" : "A-128 New Rizvia Society",
    "number" : "03122512472",
    1  : "love"
}
customer["city"] ="karachi"
print(customer)
customer["age"] = 21
print(customer)

# print(customer["first_name"])
# print(customer["middle_name"])
# print(customer["last_name"])
# print(customer["address"])
# print(customer["number"])
# print(customer[1])

{'first_name': 'Muhammad', 'middle_name': 'Mudassir', 'last_name': 'Raza', 'address': 'A-128 New Rizvia Society', 'number': '03122512472', 1: 'love', 'city': 'karachi'}
{'first_name': 'Muhammad', 'middle_name': 'Mudassir', 'last_name': 'Raza', 'address': 'A-128 New Rizvia Society', 'number': '03122512472', 1: 'love', 'city': 'karachi', 'age': 21}

## Removing and changing items in dictionary

In [4]:
#in dictionary you are removing through key by del

customer={
    "first_name" :"Muhammad",
    "middle_name" :"Mudassir",
    "last_name" :"Raza",
    "address" : "A-128 New Rizvia Society",
    "number" : "03122512472",
    1  : "love" ,
    'city': 'karachi',
    'age': 21
}
del customer["age"] 
print(customer)


# print(customer["first_name"])
# print(customer["middle_name"])
# print(customer["last_name"])
# print(customer["address"])
# print(customer["number"])
# print(customer[1])

{'first_name': 'Muhammad', 'middle_name': 'Mudassir', 'last_name': 'Raza', 'address': 'A-128 New Rizvia Society', 'number': '03122512472', 1: 'love', 'city': 'karachi'}

## Changing the value in list

In [5]:
customer={
    "first_name" :"Muhammad",
    "middle_name" :"Mudassir",
    "last_name" :"Raza",
    "address" : "A-128 New Rizvia Society",
    "number" : "03122512472",
    1  : "love" ,
    'city': 'karachi',
    'age': 21
}
print(customer)
# print(customer["age"])
customer["age"] =22
# print(customer)
print(customer["age"])

{'first_name': 'Muhammad', 'middle_name': 'Mudassir', 'last_name': 'Raza', 'address': 'A-128 New Rizvia Society', 'number': '03122512472', 1: 'love', 'city': 'karachi', 'age': 21}
22

## LOOPING THE DICTIONARY

In [6]:
##Instead of one by one We print all the values of dictionary  through loops 

customer={
    "first_name" :"Muhammad",
    "middle_name" :"Mudassir",
    "last_name" :"Raza",
    "address" : "A-128 New Rizvia Society",
    "number" : "03122512472",
    1  : "love" ,
    'city': 'karachi',
    'age': 21
}
##looping through values
for data in customer.values():
    print(data)

Muhammad
Mudassir
Raza
A-128 New Rizvia Society
03122512472
love
karachi
21

In [7]:
##looping through keys
customer={
    "first_name" :"Muhammad",
    "middle_name" :"Mudassir",
    "last_name" :"Raza",
    "address" : "A-128 New Rizvia Society",
    "number" : "03122512472",
    1  : "love" ,
    'city': 'karachi',
    'age': 21
}
for data in customer.keys():
    print(data)

first_name
middle_name
last_name
address
number
1
city
age

In [8]:
##looping through keys and values both
customer={
    "first_name" :"Muhammad",
    "middle_name" :"Mudassir",
    "last_name" :"Raza",
    "address" : "A-128 New Rizvia Society",
    "number" : "03122512472",
    1  : "love" ,
    'city': 'karachi',
    'age': 21
}
for data_key,data_values  in customer.items():
    print(data_key," : ",data_values )

first_name  :  Muhammad
middle_name  :  Mudassir
last_name  :  Raza
address  :  A-128 New Rizvia Society
number  :  03122512472
1  :  love
city  :  karachi
age  :  21

In [9]:
##looping through keys and values both
customer={
    "first_name" :"Muhammad",
    "middle_name" :"Mudassir",
    "last_name" :"Raza",
    "address" : "A-128 New Rizvia Society",
    "number" : "03122512472",
    1  : "love" ,
    'city': 'karachi',
    'age': 21
}
num=1
for data_key,data_values  in customer.items():
    print("Customer key",num,"is",data_key," and ","Customer values",num,"is",data_values )
    num=num+1

Customer key 1 is first_name  and  Customer values 1 is Muhammad
Customer key 2 is middle_name  and  Customer values 2 is Mudassir
Customer key 3 is last_name  and  Customer values 3 is Raza
Customer key 4 is address  and  Customer values 4 is A-128 New Rizvia Society
Customer key 5 is number  and  Customer values 5 is 03122512472
Customer key 6 is 1  and  Customer values 6 is love
Customer key 7 is city  and  Customer values 7 is karachi
Customer key 8 is age  and  Customer values 8 is 21

In [10]:
# table
num=int(input("Enter the number you want table of that "))
start_num=int(input("Enter the starting  number for table"))
end_num=int(input("Enter the ending number for table"))

for table in range (end_num):
    print(num ,"x",start_num ,"=" ,num * start_num )
    start_num=start_num+1

Enter the number you want table of that 2
Enter the starting  number for table1
Enter the ending number for table100
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40
2 x 21 = 42
2 x 22 = 44
2 x 23 = 46
2 x 24 = 48
2 x 25 = 50
2 x 26 = 52
2 x 27 = 54
2 x 28 = 56
2 x 29 = 58
2 x 30 = 60
2 x 31 = 62
2 x 32 = 64
2 x 33 = 66
2 x 34 = 68
2 x 35 = 70
2 x 36 = 72
2 x 37 = 74
2 x 38 = 76
2 x 39 = 78
2 x 40 = 80
2 x 41 = 82
2 x 42 = 84
2 x 43 = 86
2 x 44 = 88
2 x 45 = 90
2 x 46 = 92
2 x 47 = 94
2 x 48 = 96
2 x 49 = 98
2 x 50 = 100
2 x 51 = 102
2 x 52 = 104
2 x 53 = 106
2 x 54 = 108
2 x 55 = 110
2 x 56 = 112
2 x 57 = 114
2 x 58 = 116
2 x 59 = 118
2 x 60 = 120
2 x 61 = 122
2 x 62 = 124
2 x 63 = 126
2 x 64 = 128
2 x 65 = 130
2 x 66 = 132
2 x 67 = 134
2 x 68 = 136
2 x 69 = 138
2 x 70 = 140
2 x 71 = 142
2 x 72 = 144
2 x 73 = 146
2 x 74 = 148
2 x 75 = 150
2 x 76 = 152
2 x 77 = 154
2 x 78 = 156
2 x 79 = 158
2 x 80 = 160
2 x 81 = 162
2 x 82 = 164
2 x 83 = 166
2 x 84 = 168
2 x 85 = 170
2 x 86 = 172
2 x 87 = 174
2 x 88 = 176
2 x 89 = 178
2 x 90 = 180
2 x 91 = 182
2 x 92 = 184
2 x 93 = 186
2 x 94 = 188
2 x 95 = 190
2 x 96 = 192
2 x 97 = 194
2 x 98 = 196
2 x 99 = 198
2 x 100 = 200

# Creating a list of dictionaries

In [11]:
questions=[
    { "sno" : 1,
      "question" : "What is your country name",
    } ,
    { "sno" : 2,
      "question" : "What is your city name",
    } ,
    { "sno" : 3,
      "question" : "What is your subject name",
    } 
    
]
print(questions ,"\n")
print(questions[0],"\n")
print(questions[2]["question"],"\n")

[{'sno': 1, 'question': 'What is your country name'}, {'sno': 2, 'question': 'What is your city name'}, {'sno': 3, 'question': 'What is your subject name'}]

{'sno': 1, 'question': 'What is your country name'}

What is your subject name

# Creating a  dictionaries than contain a list

In [12]:
questions=[
    { "sno" : 1,
      "question" : "What is your country name",
     "option" : ["Pakistan","UAE","USA","Africa"],
     "answer" : "Pakistan"
    } ,
    { "sno" : 2,
      "question" : "What is your city name",
      "option" : ["Pakistan","UAE","USA","Africa","Karachi"],
      "answer" :  "Karachi"
     
    } ,
    { "sno" : 3,
      "question" : "What is your subject name",
     "option" : ["Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" : "Computer Science"
    } 
    
]

print(questions ,"\n")
print(questions[0],"\n")
print(questions[1],"\n")
print(questions[2],"\n")
print(questions[2]["option"],"\n")
print(questions[2]["option"][0],"\n")

[{'sno': 1, 'question': 'What is your country name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa'], 'answer': 'Pakistan'}, {'sno': 2, 'question': 'What is your city name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Karachi'], 'answer': 'Karachi'}, {'sno': 3, 'question': 'What is your subject name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 'Computer Science'}]

{'sno': 1, 'question': 'What is your country name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa'], 'answer': 'Pakistan'}

{'sno': 2, 'question': 'What is your city name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Karachi'], 'answer': 'Karachi'}

{'sno': 3, 'question': 'What is your subject name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 'Computer Science'}

['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science']

Pakistan

# How to append a new dictionary to a list of dictionaries

In [2]:
questions=[
    { "sno" : 1,
      "question" : "What is your country name",
    } ,
    { "sno" : 2,
      "question" : "What is your city name",
    } ,
    { "sno" : 3,
      "question" : "What is your subject name",
    } 
    
]

new_question={ "sno" : 4,
              "question" : "What is your city name",
              "age" : "What is your age",
               } 

questions.append(new_question)
print(questions ,"\n")


print(questions ,"\n")
print(questions[0],"\n")
print(questions[1],"\n")
print(questions[2],"\n")
print(questions[3],"\n")

print(questions[3]["age"],"\n")

[{'sno': 1, 'question': 'What is your country name'}, {'sno': 2, 'question': 'What is your city name'}, {'sno': 3, 'question': 'What is your subject name'}, {'sno': 4, 'question': 'What is your city name', 'age': 'What is your age'}]

[{'sno': 1, 'question': 'What is your country name'}, {'sno': 2, 'question': 'What is your city name'}, {'sno': 3, 'question': 'What is your subject name'}, {'sno': 4, 'question': 'What is your city name', 'age': 'What is your age'}]

{'sno': 1, 'question': 'What is your country name'}

{'sno': 2, 'question': 'What is your city name'}

{'sno': 3, 'question': 'What is your subject name'}

{'sno': 4, 'question': 'What is your city name', 'age': 'What is your age'}

What is your age

In [14]:
questions=[
    { "sno" : 1,
      "question" : "What is your country name",
     "option" : ["Pakistan","UAE","USA","Africa"],
     "answer" : "Pakistan"
    } ,
    { "sno" : 2,
      "question" : "What is your city name",
      "option" : ["Pakistan","UAE","USA","Africa","Karachi"],
      "answer" :  "Karachi"
     
    } ,
    { "sno" : 3,
      "question" : "What is your subject name",
     "option" : ["Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" : "Computer Science"
    } 
    
]
new_question={ "sno" : 4,
      "question" : "What is your age",
     "option" : [22,"Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" :  22
    } 
    
questions.append(new_question)
print(questions ,"\n")
print(questions[0],"\n")
print(questions[1],"\n")
print(questions[2],"\n")
print(questions[3],"\n")

# print(questions[2]["option"],"\n")
# print(questions[2]["option"][0],"\n")

[{'sno': 1, 'question': 'What is your country name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa'], 'answer': 'Pakistan'}, {'sno': 2, 'question': 'What is your city name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Karachi'], 'answer': 'Karachi'}, {'sno': 3, 'question': 'What is your subject name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 'Computer Science'}, {'sno': 4, 'question': 'What is your age', 'option': [22, 'Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 22}]

{'sno': 1, 'question': 'What is your country name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa'], 'answer': 'Pakistan'}

{'sno': 2, 'question': 'What is your city name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Karachi'], 'answer': 'Karachi'}

{'sno': 3, 'question': 'What is your subject name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 'Computer Science'}

{'sno': 4, 'question': 'What is your age', 'option': [22, 'Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 22}

# Creating a dictionary that contains a dictionary

In [3]:
questions={
  1:  { "sno" : 1,
      "question" : "What is your country name",
     "option" : ["Pakistan","UAE","USA","Africa"],
     "answer" : "Pakistan"
    } ,
        
 2:   { "sno" : 2,
      "question" : "What is your city name",
      "option" : ["Pakistan","UAE","USA","Africa","Karachi"],
      "answer" :  "Karachi"
     
    } ,
  3:  { "sno" : 3,
      "question" : "What is your subject name",
     "option" : ["Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" : "Computer Science"
    } 
 }   
print(questions ,"\n")
print(questions[1] ,"\n")
print(questions[3]["option"] ,"\n")

{1: {'sno': 1, 'question': 'What is your country name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa'], 'answer': 'Pakistan'}, 2: {'sno': 2, 'question': 'What is your city name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Karachi'], 'answer': 'Karachi'}, 3: {'sno': 3, 'question': 'What is your subject name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 'Computer Science'}}

{'sno': 1, 'question': 'What is your country name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa'], 'answer': 'Pakistan'}

['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science']

In [16]:

questions={
  1:  { "sno" : 1,
      "question" : "What is your country name",
     "option" : ["Pakistan","UAE","USA","Africa"],
     "answer" : "Pakistan"
    } ,
        
 2:   { "sno" : 2,
      "question" : "What is your city name",
      "option" : ["Pakistan","UAE","USA","Africa","Karachi"],
      "answer" :  "Karachi"
     
    } ,
  3:  { "sno" : 3,
      "question" : "What is your subject name",
     "option" : ["Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" : "Computer Science"
    } 
 }   

##Adding dictionary in dictionary
questions[4]= { "sno" : 4,
      "question" : "What is your age",
     "option" : [22,"Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" :  22
    } 
questions["new_question"]= { "sno" : 5,
      "question" : "What is your age",
     "option" : [22,"Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" :  22
    } 
 
print(questions ,"\n")

print(questions[1] ,"\n")
print(questions[2] ,"\n")
print(questions[3] ,"\n")
print(questions[4] ,"\n")
print(questions["new_question"] ,"\n")
# print(questions[3]["option"][0] ,"\n")

{1: {'sno': 1, 'question': 'What is your country name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa'], 'answer': 'Pakistan'}, 2: {'sno': 2, 'question': 'What is your city name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Karachi'], 'answer': 'Karachi'}, 3: {'sno': 3, 'question': 'What is your subject name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 'Computer Science'}, 4: {'sno': 4, 'question': 'What is your age', 'option': [22, 'Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 22}, 'new_question': {'sno': 5, 'question': 'What is your age', 'option': [22, 'Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 22}}

{'sno': 1, 'question': 'What is your country name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa'], 'answer': 'Pakistan'}

{'sno': 2, 'question': 'What is your city name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Karachi'], 'answer': 'Karachi'}

{'sno': 3, 'question': 'What is your subject name', 'option': ['Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 'Computer Science'}

{'sno': 4, 'question': 'What is your age', 'option': [22, 'Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 22}

{'sno': 5, 'question': 'What is your age', 'option': [22, 'Pakistan', 'UAE', 'USA', 'Africa', 'Computer Science'], 'answer': 22}

In [19]:
# quiz app using dictionary
questions =[
    { "s.no" : 1,
      "question" : "What is your country name ?",
     "option" : ["Pakistan","UAE","USA","Africa","Computer Science"],
     "answer" :  "Pakistan"
    } ,
    { "s.no" : 2,
      "question" : "What is the capital city of Pakistan ?",
     "option" : ["Islamabad","Karachi","Lahore","Quetta","Peshawar"],
     "answer" :  "Islamabad"
    } ,
    { "s.no" : 3,
      "question" : "What is your city name  ?",
     "option" : ["Islamabad","Karachi","Lahore","Quetta","Peshawar"],
     "answer" :  "Karachi"
    } ,
    
]
score = 0
for question in questions :
    data =  "\n" + str(question["s.no"]) + ":"  + question["question"] + "\n" + "a) " +question["option"][0] + "\n" + "b) " + question["option"][1] + "\n" + "c) " + question["option"][2] + "\n" + "d) "+ question["option"][3] + "\n" + "e) "+ question["option"][4] + "\n"  
    answer = input(data +"\n" +"Your Answer is : " )
    
    if answer == question["answer"] :
        score += 1
print("\n","your score is : " ,score ,"\n"  )

percentage = (score*100)/3
print("your percentage is :" +str(percentage))

1:What is your country name ?
a) Pakistan
b) UAE
c) USA
d) Africa
e) Computer Science

Your Answer is : Pakistan

2:What is the capital city of Pakistan ?
a) Islamabad
b) Karachi
c) Lahore
d) Quetta
e) Peshawar

Your Answer is : Islamabad

3:What is your city name  ?
a) Islamabad
b) Karachi
c) Lahore
d) Quetta
e) Peshawar

Your Answer is : Karachi

 your score is :  3

your percentage is :100.0

In [ ]:
# codesignal ,codicity ,python sample assement

In [28]:

list1=[]
 
i=0
endnum=int(input("Enter the range")) 

for i in range (endnum):
    numbers=int(input("Enter the number"))
    list1.append(numbers)
    i=i+1
print(list1) 

print("\nSum of numbers is :",str(sum(list1)))

Enter the number3
Enter the number3
Enter the number3
Enter the number3
Enter the number3
[3, 3, 3, 3, 3]

Sum of numbers is : 15

In [ ]:
 student1={

"Name" :"Muhammad Mudassir Raza ",
"Rollno": 17122094,
"Bachelor":"Computer Science",
"Attendence":"present",
"Marks":"50%"


}
print(student1["Marks"])
student1["MARKS_ADD"]=[40,20,20,20]
print(student1["MARKS_ADD"])

In [15]:
# 40 45 50 55

student1={
    "quiz1":40,
    "quiz2":45,
    "mid":50,
    "final":55
}
val1=input("Enter the quizess :")


print(student1[val1])

Enter the quizess :mid
50

In [33]:
student_11={

"Name" :"Muhammad Mudassir Raza ",
"Rollno": 17122094,
"Bachelor":"Computer Science",
"Attendence":"present",
 


}
 
student_11["Marks"]= {
    "quiz1":40,
    "quiz2":45,
    "mid":50,
    "final":55
}
print(student_11)

{'Name': 'Muhammad Mudassir Raza ', 'Rollno': 17122094, 'Bachelor': 'Computer Science', 'Attendence': 'present', 'Marks': {'quiz1': 40, 'quiz2': 45, 'mid': 50, 'final': 55}}

In [ ]:
exam=input("Enter the exam")
print(student_11["Marks"][exam])

In [ ]:
# another way

In [31]:
student_11={

"Name" :"Muhammad Mudassir Raza ",
"Rollno": 17122094,
"Bachelor":"Computer Science",
"Attendence":"present",
"Marks":{"quiz1":40,"quiz2":45,"mid":50,"final":55}
    
    
 


}
exam=input("Enter the exam")
print(student_11["Marks"][exam])

Enter the exammid
50

In [35]:
#10 students
# 2 classes
# 4 exam
# 3 attempts allow
# take student name and exam_name as input and show in which class the student get maximum

students=[]
class_1={
    "name":"AI",
    "marks":{
        "quiz1":40,
        "quiz2":45,
        "mid":50,
        "final":55
         
    }
    
    
}

class_2={
    "name":"CNC",
    "marks":{
        "quiz1":40,
        "quiz2":45,
        "mid":50,
        "final":55
         
    }
    
    
}
student_1001 ={
    "name":"arif",
    "class_AI":class_1,
    "class_CNC":class_2,
    
}
students.append(student_1001)
print(students)

[{'name': 'arif', 'class_AI': {'name': 'AI', 'marks': {'quiz1': 40, 'quiz2': 45, 'mid': 50, 'final': 55}}, 'class_CNC': {'name': 'CNC', 'marks': {'quiz1': 40, 'quiz2': 45, 'mid': 50, 'final': 55}}}]

In [38]:
# brother-in-law – 30%
# loyalty – 15%
# volume – 10%
# standard – 5%

customer_29876 = {
 "first name": "David",
 "last name": "Elliott",
 "address": "4803 Wellesley St.",
 "discounts": ["brother-in-law","standard", "volume", "loyalty"],
 }
discount_amount=0
if "brother-in-law" in customer_29876["discounts"]:
    discount_amount += .30
if "loyalty" in customer_29876["discounts"]:
    discount_amount += .15
    
if "volume" in customer_29876["discounts"]:
    discount_amount += .10
if "standard" in customer_29876["discounts"]:
    discount_amount += .05
    
    
print(discount_amount)

0.6

In [ ]:
# chap 40 resut

In [7]:
a="animals"
b=a.index("a")
b

0

In [8]:
# code signal
a="the love of nature"
word_list=a.split()
print(len(word_list),word_list)
print('call' in word_list)

4 ['the', 'love', 'of', 'nature']
False

In [13]:
empty_dic = {}
alist = [1,2,3,4,5]
aset= {22,33,44,55}
atuple =(90,100)
astring="Saylani Mass IT Training"

In [14]:
print(len(empty_dic),len(alist),len(aset),len(atuple),len(astring))

0 5 4 2 24

## Operation: create, add, update, delete,retrieve (CRUD)  (Again practice)

In [10]:
#Create
adic = {"name": "Kamran", "age":29}
       #  key :  Value     key:value

In [15]:
# add
adic['city']= "Karachi"

In [17]:
adic

{'name': 'Kamran', 'age': 29, 'city': 'Karachi'}

In [18]:
# update
adic['age']=25
adic

{'name': 'Kamran', 'age': 25, 'city': 'Karachi'}

In [19]:
# retrieve
adic['name']

'Kamran'

In [20]:
# another way to get value of key
adic.get('name')

'Kamran'

In [21]:
#delete
del adic['city']

In [22]:
adic

{'name': 'Kamran', 'age': 25}

In [23]:
roll_1 = {"name":"Asad","father_name":"Nasir", "Course":"Python", "Class_time":"9 to 11" }

In [24]:
# iterating a dictionary
for dic_value in roll_1:
    print(dic_value)
    
# if we directly iterate over a dictionary it will return only the KEYS

name
father_name
Course
Class_time

In [25]:
for keys in roll_1.keys():
    print(keys)

name
father_name
Course
Class_time

In [26]:
for value in roll_1.values():
    print(value)

Asad
Nasir
Python
9 to 11

In [27]:
# RETRIVING ALL VALUES VIA KEY
for keys in roll_1.keys():
    print(f"The keys is {keys} and the value is {roll_1[keys]}")

The keys is name and the value is Asad
The keys is father_name and the value is Nasir
The keys is Course and the value is Python
The keys is Class_time and the value is 9 to 11

In [28]:
# getting key value together from dic 
for xyz in roll_1.items():
    print(xyz)

('name', 'Asad')
('father_name', 'Nasir')
('Course', 'Python')
('Class_time', '9 to 11')

In [30]:
for key,value in roll_1.items():
    print(f"Key:{key}  and    Value:{value}")

Key:name  and    Value:Asad
Key:father_name  and    Value:Nasir
Key:Course  and    Value:Python
Key:Class_time  and    Value:9 to 11

In [31]:
roll_1

{'name': 'Asad',
 'father_name': 'Nasir',
 'Course': 'Python',
 'Class_time': '9 to 11'}

In [32]:
# a Key can be a str or int
# a value can be a str , int, list , tuple, set , dic, boolean  

miscDic = {1:100, 2:200}

In [33]:
miscDic

{1: 100, 2: 200}

In [34]:
miscDic['three']=300

In [35]:
miscDic

{1: 100, 2: 200, 'three': 300}

In [36]:
miscDic[4]="Four Hundred"
miscDic

{1: 100, 2: 200, 'three': 300, 4: 'Four Hundred'}

In [37]:
miscDic['test']=False
miscDic

{1: 100, 2: 200, 'three': 300, 4: 'Four Hundred', 'test': False}

# A list in a Dictionary

In [39]:
class_python = {'Students':['Asad',"Fahad",'Hassan', 'Nasir', 'Karim', 'Rehan']
               , 'Courses':['Python', "GD", "WEb", "Networking", 'ChatBot','Python']
               , 'Day'    :['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday']
                , 'Ages'  :[34,56,34,23,19,20]
               }

In [40]:
class_python

{'Students': ['Asad', 'Fahad', 'Hassan', 'Nasir', 'Karim', 'Rehan'],
 'Courses': ['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python'],
 'Day': ['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday'],
 'Ages': [34, 56, 34, 23, 19, 20]}

In [41]:
for key,value in class_python.items():
    print(value)

['Asad', 'Fahad', 'Hassan', 'Nasir', 'Karim', 'Rehan']
['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python']
['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday']
[34, 56, 34, 23, 19, 20]

In [42]:
# get single a student record
for key,value in class_python.items():
    print(value[0])

Asad
Python
MOnday
34

In [43]:
import pandas

In [44]:
pandas.DataFrame(class_python)

  Students     Courses        Day  Ages
0     Asad      Python     MOnday    34
1    Fahad          GD    Tuesday    56
2   Hassan         WEb  Wednesday    34
3    Nasir  Networking   Thursday    23
4    Karim     ChatBot     Friday    19
5    Rehan      Python  Sarturday    20

In [45]:
class_python

{'Students': ['Asad', 'Fahad', 'Hassan', 'Nasir', 'Karim', 'Rehan'],
 'Courses': ['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python'],
 'Day': ['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday'],
 'Ages': [34, 56, 34, 23, 19, 20]}

In [46]:
class_python['Courses']

['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python']

In [47]:
a = ['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python']

In [48]:
for name in a:
    if name=="ChatBot":
        print("True")
        break

True

## Keyword " in "

In [56]:
# pass by value
b = a.copy()
print(b)
c = a[:]
print(c)
# pass by reference
d = c
d

['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python']
['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python']

['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python']

In [51]:
if type(a)=='list':
    b=a.copy()

In [57]:
d is c

True

In [58]:
z= 100
x = z
y =100

In [59]:
z is x

True

In [60]:
y is z

True

In [61]:
class_python['Courses'][2]

'WEb'

In [62]:
class_python

{'Students': ['Asad', 'Fahad', 'Hassan', 'Nasir', 'Karim', 'Rehan'],
 'Courses': ['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python'],
 'Day': ['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday'],
 'Ages': [34, 56, 34, 23, 19, 20]}

In [63]:
for key in class_python:
    if key=='Courses':
        for course in class_python[key]:
            print(course)
    else:
        print("There is no 'Courss' key")
        break

There is no 'Courss' key

In [64]:
for key in class_python['Courses']:
    print(key)

Python
GD
WEb
Networking
ChatBot
Python

In [65]:
class_python

{'Students': ['Asad', 'Fahad', 'Hassan', 'Nasir', 'Karim', 'Rehan'],
 'Courses': ['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python'],
 'Day': ['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday'],
 'Ages': [34, 56, 34, 23, 19, 20]}

In [66]:
class_python['Ages'][3]

23